@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri.ttf") format("truetype"); }

.buttonTypeOne:before {
  font-family: 'FontAwesome';
  font-size: 17px;
  content: '\f055';
  color: #8ecc38;
  margin-right: 1px; }

.savingPlans > .searchBlock {
  text-align: right; }
  .savingPlans > .searchBlock > input {
    height: 37px;
    width: 300px;
    border: 1px solid #f5f5f5;
    outline: none;
    margin-top: 30px;
    margin-bottom: 58px;
    /* Firefox 19+ */
    /* Firefox 18- */ }
    .savingPlans > .searchBlock > input::-webkit-input-placeholder {
      font-family: Calibri;
      color: rgba(102, 102, 102, 0.7);
      font-size: 15px;
      font-weight: 300;
      letter-spacing: -0.203px;
      padding-left: 5px; }
    .savingPlans > .searchBlock > input::-moz-placeholder {
      font-family: Calibri;
      color: rgba(102, 102, 102, 0.7);
      font-size: 15px;
      font-weight: 300;
      letter-spacing: -0.203px;
      padding-left: 5px; }
    .savingPlans > .searchBlock > input:-moz-placeholder {
      font-family: Calibri;
      color: rgba(102, 102, 102, 0.7);
      font-size: 15px;
      font-weight: 300;
      letter-spacing: -0.203px;
      padding-left: 5px; }
    .savingPlans > .searchBlock > input:-ms-input-placeholder {
      font-family: Calibri;
      color: rgba(102, 102, 102, 0.7);
      font-size: 15px;
      font-weight: 300;
      letter-spacing: -0.203px;
      padding-left: 5px; }

.savingPlans > i {
  color: #484848; }

.savingPlans > span:nth-child(2) {
  line-height: 35px; }
  .savingPlans > span:nth-child(2) > span {
    font-family: Calibri;
    color: #333333;
    font-size: 20px;
    letter-spacing: -0.26px; }
    .savingPlans > span:nth-child(2) > span:first-child {
      font-weight: 700; }
    .savingPlans > span:nth-child(2) > span:last-child {
      font-weight: 300; }

.savingPlans > span.buttonTypeOne {
  float: right;
  font-family: Calibri;
  color: rgba(26, 26, 26, 0.7);
  font-size: 14.83px;
  font-weight: 700;
  cursor: pointer;
  line-height: 33px; }

.savingPlans > div#organizationName > .customTable {
  width: 100%;
  border-top: 5px solid #8cc63f;
  display: table;
  border-spacing: 0 5px; }
  .savingPlans > div#organizationName > .customTable > .customTableHead {
    display: table-row;
    height: 55px;
    font-family: Calibri;
    color: #4d4d4d;
    font-size: 13.46px;
    font-weight: 300; }
    .savingPlans > div#organizationName > .customTable > .customTableHead > div {
      display: table-cell;
      vertical-align: middle;
      cursor: pointer; }
      .savingPlans > div#organizationName > .customTable > .customTableHead > div:first-child {
        padding: 12px 0px 17px 18px; }
      .savingPlans > div#organizationName > .customTable > .customTableHead > div img {
        display: block;
        float: left;
        margin-right: 11px; }
  .savingPlans > div#organizationName > .customTable > .customTableRow {
    display: table-row;
    height: 70px;
    background-color: rgba(241, 241, 241, 0.5); }
    .savingPlans > div#organizationName > .customTable > .customTableRow div {
      display: table-cell;
      border-bottom: 1px solid #cecece;
      vertical-align: middle; }
      .savingPlans > div#organizationName > .customTable > .customTableRow div:nth-child(2), .savingPlans > div#organizationName > .customTable > .customTableRow div:nth-child(4) {
        padding-left: 60px; }
      .savingPlans > div#organizationName > .customTable > .customTableRow div:first-child {
        padding-left: 18px; }
        .savingPlans > div#organizationName > .customTable > .customTableRow div:first-child span:nth-child(1) {
          font-family: Calibri;
          color: #4d4d4d;
          font-size: 18px;
          font-weight: 300; }
        .savingPlans > div#organizationName > .customTable > .customTableRow div:first-child span:nth-child(5) {
          font-family: Calibri;
          color: #b3b3b3;
          font-size: 18px;
          font-weight: 300; }
        .savingPlans > div#organizationName > .customTable > .customTableRow div:first-child span:nth-child(6) {
          font-family: Calibri;
          color: #739b34;
          font-size: 18px;
          font-weight: 300; }
        .savingPlans > div#organizationName > .customTable > .customTableRow div:first-child > a {
          font-family: Calibri;
          color: #4d4d4d;
          font-size: 18px;
          font-weight: 700;
          list-style: none;
          text-decoration: none; }
        .savingPlans > div#organizationName > .customTable > .customTableRow div:first-child > i {
          margin: 0px 5px; }
      .savingPlans > div#organizationName > .customTable > .customTableRow div:nth-child(2), .savingPlans > div#organizationName > .customTable > .customTableRow div:nth-child(3) {
        font-family: Calibri;
        color: #7dca00;
        font-size: 28px;
        font-weight: 700; }
      .savingPlans > div#organizationName > .customTable > .customTableRow div:nth-child(4) {
        font-family: Calibri;
        color: rgba(102, 102, 102, 0.7);
        font-size: 28px;
        font-weight: 400; }
      .savingPlans > div#organizationName > .customTable > .customTableRow div:last-child {
        font-family: Calibri;
        color: #8cc63f;
        font-size: 28px;
        font-weight: 700; }

header {
  height: 100px;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  line-height: 100px;
  margin: 0px -34px; }
  header > div:first-child {
    float: left;
    line-height: 100px;
    margin-left: 29px;
    font-family: Calibri;
    color: rgba(26, 26, 26, 0.7);
    font-size: 23px;
    font-weight: 300; }
  header > div:last-child {
    float: right;
    line-height: 100px;
    margin-right: 29px; }
    header > div:last-child > i {
      margin-right: 30px;
      font-size: 20px; }
    header > div:last-child > div.dropdown {
      display: inline-block; }
      header > div:last-child > div.dropdown > button {
        background-color: transparent;
        border: none;
        font-family: Calibri;
        color: #333333;
        font-size: 15px;
        font-weight: 300;
        margin-left: 10px; }
      header > div:last-child > div.dropdown > div.dropdown-menu {
        right: 0 !important;
        left: inherit !important;
        top: 35px; }

nav {
  min-width: 246px; }
  nav > div {
    height: 100%;
    width: 246px;
    position: fixed;
    background: #4b4a48; }
    nav > div > .logo {
      background: url("../images/leftMenu/PowerPlug.png") no-repeat center;
      height: 90px; }
    nav > div > ul {
      margin-top: 37px; }
      nav > div > ul > li {
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        list-style: none;
        color: #b4b3b1;
        cursor: pointer;
        line-height: 48px;
        padding-left: 47px; }
        nav > div > ul > li.current {
          border-top: 1px solid #666666;
          border-bottom: 1px solid #333333;
          background-color: #444141;
          font-family: Calibri;
          color: #ffffff;
          font-size: 15px;
          font-weight: 700; }
        nav > div > ul > li:hover {
          color: #ffffff;
          background-color: #444141; }
        nav > div > ul > li[aria-expanded=true] {
          color: #ffffff;
          background-color: #444141;
          border-top: 1px solid #666666;
          border-bottom: 1px solid #333333; }
        nav > div > ul > li > i {
          width: 20px;
          color: #90c63d; }

.computer-groups .computer-group-action {
  float: right;
  margin: 5px;
  cursor: pointer; }
  .computer-groups .computer-group-action .action-icon {
    float: left; }

.settings .save-button-margin {
  height: 100px;
  width: 100%; }

.settings .buttons-container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 246px;
  background-color: #f2f2f2;
  height: 100px;
  z-index: 10; }
  .settings .buttons-container div {
    padding-top: 30px;
    padding-right: 30px;
    text-align: center; }
    .settings .buttons-container div .btn-save-green {
      width: 160px;
      height: 44px;
      background-color: #8cc63f;
      border: none;
      text-align: center;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      font-family: Calibri;
      margin-right: 2px;
      outline: none; }
    .settings .buttons-container div .btn-discard-gray {
      width: 160px;
      height: 44px;
      background-color: #808080;
      border: none;
      text-align: center;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      font-family: Calibri;
      outline: none; }

.settings > .bg-separator {
  height: 74px;
  background-color: rgba(242, 242, 242, 0.6);
  width: 100%;
  margin-bottom: 20px; }

.settings .type-selection {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Calibri;
  font-weight: bold;
  font-size: 16px;
  color: rgba(26, 26, 26, 0.7); }
  .settings .type-selection select {
    font-weight: normal;
    width: 225px;
    height: 40px;
    margin-left: 20px;
    color: #1a1a1a;
    font-size: 14px; }

.settings .text-container textarea {
  width: 100%;
  height: 300px;
  padding: 5px; }

.settings > .script-content, .settings .powerConsumption-content {
  padding-top: 32px; }
  .settings > .script-content > span, .settings .powerConsumption-content > span {
    font-family: Calibri;
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 700; }
  .settings > .script-content > table, .settings .powerConsumption-content > table {
    margin-top: 20px; }
    .settings > .script-content > table > thead, .settings .powerConsumption-content > table > thead {
      font-family: Calibri;
      color: rgba(26, 26, 26, 0.7);
      font-size: 14px;
      font-weight: 700;
      letter-spacing: -0.182px; }
      .settings > .script-content > table > thead > tr > td > .add-script, .settings .powerConsumption-content > table > thead > tr > td > .add-script {
        font-family: Calibri;
        color: rgba(26, 26, 26, 0.7);
        font-size: 14.83px;
        font-weight: 700;
        text-align: left;
        float: right;
        display: block;
        padding-right: 30px; }
        .settings > .script-content > table > thead > tr > td > .add-script:before, .settings .powerConsumption-content > table > thead > tr > td > .add-script:before {
          margin-right: 5px; }
      .settings > .script-content > table > thead > tr > td > .import-script, .settings .powerConsumption-content > table > thead > tr > td > .import-script {
        font-family: Calibri;
        color: rgba(26, 26, 26, 0.7);
        font-size: 14.83px;
        font-weight: 700;
        text-align: left;
        float: right;
        display: block;
        padding-right: 40px; }
        .settings > .script-content > table > thead > tr > td > .import-script:before, .settings .powerConsumption-content > table > thead > tr > td > .import-script:before {
          margin-right: 5px; }
    .settings > .script-content > table > tbody, .settings .powerConsumption-content > table > tbody {
      font-family: Calibri;
      color: #333333;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: -0.182px; }
      .settings > .script-content > table > tbody > tr, .settings .powerConsumption-content > table > tbody > tr {
        border: none;
        outline: none; }
        .settings > .script-content > table > tbody > tr.bg-script-selected, .settings .powerConsumption-content > table > tbody > tr.bg-script-selected {
          background-color: rgba(242, 242, 242, 0.6); }
        .settings > .script-content > table > tbody > tr > td, .settings .powerConsumption-content > table > tbody > tr > td {
          height: 46px;
          vertical-align: middle;
          font-family: Calibri; }
          .settings > .script-content > table > tbody > tr > td.bolder, .settings .powerConsumption-content > table > tbody > tr > td.bolder {
            font-weight: bold; }
          .settings > .script-content > table > tbody > tr > td.grid-cell input[type="text"], .settings .powerConsumption-content > table > tbody > tr > td.grid-cell input[type="text"] {
            font-family: Calibri;
            width: 50px;
            border: none;
            outline: none; }
          .settings > .script-content > table > tbody > tr > td.grid-cell select, .settings .powerConsumption-content > table > tbody > tr > td.grid-cell select {
            font-family: Calibri;
            border: none;
            outline: none; }
          .settings > .script-content > table > tbody > tr > td.button-padding, .settings .powerConsumption-content > table > tbody > tr > td.button-padding {
            padding-right: 48px; }
          .settings > .script-content > table > tbody > tr > td.button-container, .settings .powerConsumption-content > table > tbody > tr > td.button-container {
            width: 100px;
            text-align: right; }
          .settings > .script-content > table > tbody > tr > td > .edit-script, .settings > .script-content > table > tbody > tr > td > .remove-script, .settings .powerConsumption-content > table > tbody > tr > td > .edit-script, .settings .powerConsumption-content > table > tbody > tr > td > .remove-script {
            font-family: Calibri;
            color: rgba(26, 26, 26, 0.7);
            font-size: 14.83px;
            font-weight: 700;
            text-align: left;
            float: right;
            display: block; }
            .settings > .script-content > table > tbody > tr > td > .edit-script:before, .settings > .script-content > table > tbody > tr > td > .remove-script:before, .settings .powerConsumption-content > table > tbody > tr > td > .edit-script:before, .settings .powerConsumption-content > table > tbody > tr > td > .remove-script:before {
              margin-right: 5px; }

* {
  margin: 0px;
  padding: 0px;
  line-height: normal; }

html {
  height: 100%;
  width: 100%; }
  html > body {
    height: 100%;
    width: 100%;
    border-top: 5px solid #8cc63f;
    font-family: Calibri; }
    html > body .topGreenLine {
      position: fixed;
      top: 0px;
      width: 100%;
      height: 5px;
      background-color: #8cc63f; }
    html > body .main-wrapper {
      display: flex;
      flex-direction: row;
      height: 100%; }
      html > body .main-wrapper > .content-wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 0px 34px; }
        html > body .main-wrapper > .content-wrapper > .content {
          flex-grow: 1; }

.uibTabSet > ul {
  float: left; }

.uibTabSet > .tab-content {
  float: left;
  padding-left: 20px; }

