<div class="permissionsWrapper">
    <div>
        <span>Permissions</span>
        <div>
            <span>Power Saving Plan Owner</span>
            <span>{{vm.someVariableWhichHasOwnersName}}QA\Administrator</span>
            <span ng-click="vm.someFunctionToChangeOwner()">Change</span>
        </div>
    </div>
    <div class="tableWrapper">
      <div class="tableHead">
        <div>Group / User Name</div>
        <div>View</div>
        <div>Edit</div>
        <div><span class="buttonTypeOneAdd" ng-click="vm.someFunctionToAddPermission()">Add</span></div>
      </div>
      <div class="tableBody">
        <div class="tableRow" deleteThisSectionItsOnlyForExample>
          <div>test1</div>
          <div>test2</div>
          <div>test3</div>
        </div>
        <div class="tableRow">
          <div>{{permission.permObjDesc}}</div>
          <div>{{permission.viewPerm}}</div>
          <div>{{permission.editPerm}}</div>
        </div>
      </div>
        <!-- <table>
            <thead>
                <tr>
                    <td>Group / User Name</td>
                    <td>View</td>
                    <td>Edit</td>
                    <td>button</td>
                </tr>
            </thead>
            <tbody>
              <tr>
                <td>test</td>
                <td>test1</td>
                <td colspan="2">test2</td>
              </tr>
                <tr ng-repeat="permission in vm.savingPlan.permissions">
                    <td>{{permission.permObjDesc}}</td>
                    <td>{{permission.viewPerm}}</td>
                    <td colspan="2">{{permission.editPerm}}</td>
                </tr>
            </tbody>
        </table> -->
    </div>
</div>
