<div style="padding-bottom:80px">
    <div class="panel-body">
        <!-- <div style="margin-bottom:20px;">
           Policy Name: <input type="text" ng-model="vm.savingPlan.policyName" />
        </div> -->
        <div ui-view="overview"></div>
        <hr />
        <div ui-view="workhoursaction"></div>
        <hr />
        <div ui-view="events"></div>
        <hr />
        <div ui-view="computers"></div>
        <hr />
        <div ui-view="settings"></div>
        <hr />
        <div ui-view="permissions"></div>
        <hr />
        <div ui-view="description"></div>
    </div>
</div>
<div style="position:fixed;bottom:0px;right:0px;left:246px;border-top:solid 3px gray;background-color:#f3f3f3;height:100px; z-index: 10;" class="clearfix">
    <div class="pull-right" style="padding-top:30px;padding-right:30px;">
        <input type="button" value="Save Changes" class="btn btn-primary" ng-click="vm.saveChanges()"/>
    </div>
</div>
