<h3>Computers</h3>
<uib-tabset active="active">
    <uib-tab index="0" heading="Work Hours">
        <div class="panel-body">
            <div class="clearfix">
                <div class="pull-left">
                    Turn off the display 
                    <select ng-model="vm.savingPlan.savings.work.displalyMinutes">
                        <option value="1" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 1">1 minute</option>
                        <option value="2" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 2">2 minutes</option>
                        <option value="3" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 3">3 minutes</option>
                        <option value="5" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 5">5 minutes</option>
                        <option value="10" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 10">10 minutes</option>
                        <option value="15" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 15">15 minutes</option>
                        <option value="20" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 20">20 minutes</option>
                        <option value="25" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 25">25 minutes</option>
                        <option value="30" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 30">30 minutes</option>
                        <option value="45" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 45">45 minutes</option>
                        <option value="60" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 60">1 hour</option>
                        <option value="120" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 120">2 hours</option>
                        <option value="180" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 180">3 hours</option>
                        <option value="240" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 240">4 hours</option>
                        <option value="300" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 300">5 hours</option>
                        <option value="0" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 0">Never</option>
                    </select>
                </div>
                <div class="pull-left" style="padding-left:50px;">
                    Perform
                    <select ng-model="vm.savingPlan.savings.work.computerMinutes">
                        <option value="1" ng-selected="vm.savingPlan.savings.work.computerMinutes == 1">1 minute</option>
                        <option value="2" ng-selected="vm.savingPlan.savings.work.computerMinutes == 2">2 minutes</option>
                        <option value="3" ng-selected="vm.savingPlan.savings.work.computerMinutes == 3">3 minutes</option>
                        <option value="5" ng-selected="vm.savingPlan.savings.work.computerMinutes == 5">5 minutes</option>
                        <option value="10" ng-selected="vm.savingPlan.savings.work.computerMinutes == 10">10 minutes</option>
                        <option value="15" ng-selected="vm.savingPlan.savings.work.computerMinutes == 15">15 minutes</option>
                        <option value="20" ng-selected="vm.savingPlan.savings.work.computerMinutes == 20">20 minutes</option>
                        <option value="25" ng-selected="vm.savingPlan.savings.work.computerMinutes == 25">25 minutes</option>
                        <option value="30" ng-selected="vm.savingPlan.savings.work.computerMinutes == 30">30 minutes</option>
                        <option value="45" ng-selected="vm.savingPlan.savings.work.computerMinutes == 45">45 minutes</option>
                        <option value="60" ng-selected="vm.savingPlan.savings.work.computerMinutes == 60">1 hour</option>
                        <option value="120" ng-selected="vm.savingPlan.savings.work.computerMinutes == 120">2 hours</option>
                        <option value="180" ng-selected="vm.savingPlan.savings.work.computerMinutes == 180">3 hours</option>
                        <option value="240" ng-selected="vm.savingPlan.savings.work.computerMinutes == 240">4 hours</option>
                        <option value="300" ng-selected="vm.savingPlan.savings.work.computerMinutes == 300">5 hours</option>
                        <option value="0" ng-selected="vm.savingPlan.savings.work.computerMinutes == 0">Never</option>
                    </select>
                </div>
                <div class="pull-left" style="padding-left:50px;">
                    Computer power saving
                    <select ng-model="vm.savingPlan.savings.work.perform">
                        <option value="Sleep" ng-selected="vm.savingPlan.savings.work.perform == 'Sleep'">Sleep</option>
                        <option value="Hibernate" ng-selected="vm.savingPlan.savings.work.perform == 'Hibernate'">Hibernate</option>
                        <option value="Shutdown" ng-selected="vm.savingPlan.savings.work.perform == 'Shutdown'">Shut down</option>
                    </select>
                </div>
            </div> 
            <div style="padding-top:20px;">
                <uib-tabset active="activePill" vertical="true" type="pills" class="clearfix uibTabSet">
                    <uib-tab index="6" heading="Options" class="xxx">
                        <div><input type="checkbox" /> Force operation</div>
                        <div><input type="checkbox" /> Logoff before power saving operation</div>
                        <div><input type="checkbox" /> Display a message to the user</div>
                    </uib-tab>
                    <uib-tab index="7" heading="Applications">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Application</td>
                                        <td>Condition</td>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                    <uib-tab index="8" heading="Computers">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Computer Name</td>
                                        <td>Type</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                    <uib-tab index="9" heading="Performance Metrics">
                        <div>
                            <input type="checkbox" /> CPU utilization is above 
                            <input type="text" /> Percent
                        </div>
                        <div>
                            <input type="checkbox" /> Disk I/O operations are above
                            <input type="text" /> KB/Second
                        </div>
                        <div>
                            <input type="checkbox" /> Network I/O operations are above
                            <input type="text" /> KB/Second
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>           
        </div>
    </uib-tab>
    <uib-tab index="1" heading="Non-Work Hours">
        <div class="panel-body">
            <div class="clearfix">
                <div class="pull-left">
                    Turn off the display
                    <select ng-model="vm.savingPlan.savings.nonWork.displalyMinutes">
                        <option value="1" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 1">1 minute</option>
                        <option value="2" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 2">2 minutes</option>
                        <option value="3" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 3">3 minutes</option>
                        <option value="5" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 5">5 minutes</option>
                        <option value="10" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 10">10 minutes</option>
                        <option value="15" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 15">15 minutes</option>
                        <option value="20" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 20">20 minutes</option>
                        <option value="25" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 25">25 minutes</option>
                        <option value="30" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 30">30 minutes</option>
                        <option value="45" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 45">45 minutes</option>
                        <option value="60" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 60">1 hour</option>
                        <option value="120" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 120">2 hours</option>
                        <option value="180" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 180">3 hours</option>
                        <option value="240" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 240">4 hours</option>
                        <option value="300" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 300">5 hours</option>
                        <option value="0" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 0">Never</option>
                    </select>
                </div>
                <div class="pull-left" style="padding-left:50px;">
                    Perform
                    <select ng-model="vm.savingPlan.savings.nonWork.computerMinutes">
                        <option value="1" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 1">1 minute</option>
                        <option value="2" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 2">2 minutes</option>
                        <option value="3" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 3">3 minutes</option>
                        <option value="5" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 5">5 minutes</option>
                        <option value="10" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 10">10 minutes</option>
                        <option value="15" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 15">15 minutes</option>
                        <option value="20" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 20">20 minutes</option>
                        <option value="25" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 25">25 minutes</option>
                        <option value="30" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 30">30 minutes</option>
                        <option value="45" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 45">45 minutes</option>
                        <option value="60" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 60">1 hour</option>
                        <option value="120" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 120">2 hours</option>
                        <option value="180" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 180">3 hours</option>
                        <option value="240" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 240">4 hours</option>
                        <option value="300" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 300">5 hours</option>
                        <option value="0" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 0">Never</option>
                    </select>
                </div>
                <div class="pull-left" style="padding-left:50px;">
                    Computer power saving
                    <select ng-model="vm.savingPlan.savings.nonWork.perform">
                        <option value="Sleep" ng-selected="vm.savingPlan.savings.nonWork.perform == 'Sleep'">Sleep</option>
                        <option value="Hibernate" ng-selected="vm.savingPlan.savings.nonWork.perform == 'Hibernate'">Hibernate</option>
                        <option value="Shutdown" ng-selected="vm.savingPlan.savings.nonWork.perform == 'Shutdown'">Shut down</option>
                    </select>
                </div>
            </div>
            <div style="padding-top:20px;">
                <uib-tabset active="activePill2" vertical="true" type="pills" class="clearfix uibTabSet">
                    <uib-tab index="2" heading="Options" class="xxx">
                        <div><input type="checkbox" /> Force operation</div>
                        <div><input type="checkbox" /> Logoff before power saving operation</div>
                        <div><input type="checkbox" /> Display a message to the user</div>
                    </uib-tab>
                    <uib-tab index="3" heading="Applications">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Application</td>
                                        <td>Condition</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                    <uib-tab index="4" heading="Computers">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Computer Name</td>
                                        <td>Type</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                    <uib-tab index="5" heading="Performance Metrics">
                        <div>
                            <input type="checkbox" /> CPU utilization is above
                            <input type="text" /> Percent
                        </div>
                        <div>
                            <input type="checkbox" /> Disk I/O operations are above
                            <input type="text" /> KB/Second
                        </div>
                        <div>
                            <input type="checkbox" /> Network I/O operations are above
                            <input type="text" /> KB/Second
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </uib-tab>
</uib-tabset>