<div class="panel panel-primary">
    <div class="panel-heading"
         style="font-size:large">
        Saving Plan
    </div>
    <div class="panel-body">
        <div style="margin-bottom:20px;">
           Policy Name: <input type="text" ng-model="vm.savingPlan.policyName" />
        </div>
        <div ui-view="overview"></div>  
        <hr /> 
        <div ui-view="events"></div>    
        <hr />
        <div ui-view="computers"></div>    
        <hr />
        <div ui-view="settings"></div>
        <hr />
        <div ui-view="permissions"></div>
        <hr />
        <div ui-view="description"></div>    
    </div>
</div>