<div class="savingPlans">
    <div class="searchBlock">
        <input type="text" name="search" placeholder="Search a Plan" ng-model="search.policyName">
    </div>
    <span><span>Organization Name&nbsp;</span><span>({{vm.savingPlans.length}} Plans)</span></span>
    <span class="buttonTypeOne" ui-sref="savingPlanEditor({ policyId : 0})">Add Plan</span>
    <div class="collapse in" id="organizationName">
        <div class="customTable">
            <div class="customTableHead">
                <div ng-click="vm.changeSorting('policyName')">
                    <img src="content/images/savingPlans/_Group_.png">
                    <span>Plan<br>Details</span>
                </div>
                <div ng-click="vm.changeSorting('plannedEfficiency')">
                    <img src="content/images/savingPlans/_Group_1.png">
                    <span>Projected<br>Efficiency</span>
                </div>
                <div ng-click="vm.changeSorting('acutalEfficiency')">Actual&nbsp;Reported<br>Efficiency</div>
                <div ng-click="vm.changeSorting('plannedComputers')">
                    <img src="content/images/savingPlans/_Group_2.png">
                    <span>Assigned<br>Computers</span>
                </div>
                <div ng-click="vm.changeSorting('actualComputers')">Actual<br>Reporting</div>
            </div>
            <div class="customTableRow" ng-repeat="row in vm.savingPlans|filter:search|orderBy:vm.sort.column:vm.sort.descending">
                <div class="customTableCell">
                    <span>{{$index + 1}}</span>
                    <a ui-sref="savingPlanEditor({ policyId : row.policyId})">{{row.policyName}} Saving</a>
                    <br>
                    <i class="fa fa-user"></i>
                    <span>Owner</span>
                    <span>{{row.owner}}</span>
                </div>
                <div color-letter letter="row.plannedEfficiency"></div>
                <div color-letter letter="row.acutalEfficiency"></div>
                <div>{{row.plannedComputers}}</div>
                <div>{{row.actualComputers}}</div>
            </div>
        </div>
    </div>
</div>
