<h3>Work Hours & Actions</h3>

<div class="clearfix" style="padding-bottom:30px;">
    <week-view
        data-actions='vm.savingPlan.actions'
        data-work-time-list='vm.workTime'
        work-time-change="vm.workTimeChange(data)"
        action-remove="vm.actionRemove(data)"
        action-edit="vm.actionEdit(data)"></week-view>
</div>

﻿<!-- <h3>Work Hours & Actions</h3>
<div class="clearfix" style="padding-bottom:30px;">
    <div id="calendar" style="max-width: 1050px;margin: 0 auto;float:left;">
    </div>

    <div style="float:left;padding-left:40px;height:500px;margin-top:37px;">
        <div style="width: 100%;height: 29px;">
            <h4 style="margin-top:0px; float:left">Scheduled Actions</h4>
            <button style="margin-top:0px; float:right" ng-click="vm.createNewAction('Restart', vm.savingPlan.actions)">Add Restart</button>
            <button style="margin-top:0px; float:right; margin-right:5px" ng-click="vm.createNewAction('Wake', vm.savingPlan.actions)">Add Wakeup</button>
        </div>
        <div style="padding-bottom:20px;overflow-y:scroll;height:400px;">
            <div ng-repeat="action in vm.savingPlan.actions" style="padding-bottom:20px;" ng-click="vm.openActionDialog(action, false)">
                <div>{{action.perform === 'Wake' ? 'Scheduled Wake Up' : 'System Restart'}}</div>
                <div>{{vm.getActionText(action)}}</div>
                <div ng-if="action.perform === 'Wake'">Keep Awake for {{action.options.keepAlive}} minutes</div>
                <div ng-if="action.perform === 'Wake' && action.options.keepMonitorOn === true">Turn Monitor On</div>
                <div ng-if="action.perform === 'Restart'">Computer is idle for {{action.options.idleTime}} minutes</div>
                <div ng-if="action.perform === 'Restart'">Computer was not restarted for {{(action.options.hoursLastBoot / 7)}} days</div>
                <hr />
            </div>
        </div>
    </div>
</div>
<uib-tabset active="active">
    <uib-tab index="0" heading="Work Hours">
        <div class="panel-body">
            <div class="clearfix">
                <div class="pull-left">
                    Turn off the display
                    <select ng-model="vm.savingPlan.savings.work.displalyMinutes" convert-to-number>
                        <option value="1" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 1">1 minute</option>
                        <option value="2" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 2">2 minutes</option>
                        <option value="3" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 3">3 minutes</option>
                        <option value="5" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 5">5 minutes</option>
                        <option value="10" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 10">10 minutes</option>
                        <option value="15" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 15">15 minutes</option>
                        <option value="20" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 20">20 minutes</option>
                        <option value="25" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 25">25 minutes</option>
                        <option value="30" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 30">30 minutes</option>
                        <option value="45" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 45">45 minutes</option>
                        <option value="60" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 60">1 hour</option>
                        <option value="120" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 120">2 hours</option>
                        <option value="180" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 180">3 hours</option>
                        <option value="240" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 240">4 hours</option>
                        <option value="300" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 300">5 hours</option>
                        <option value="0" ng-selected="vm.savingPlan.savings.work.displalyMinutes == 0">Never</option>
                    </select>
                </div>
                <div class="pull-left" style="padding-left:50px;">
                    Perform
                    <select ng-model="vm.savingPlan.savings.work.computerMinutes" convert-to-number>
                        <option value="1" ng-selected="vm.savingPlan.savings.work.computerMinutes == 1">1 minute</option>
                        <option value="2" ng-selected="vm.savingPlan.savings.work.computerMinutes == 2">2 minutes</option>
                        <option value="3" ng-selected="vm.savingPlan.savings.work.computerMinutes == 3">3 minutes</option>
                        <option value="5" ng-selected="vm.savingPlan.savings.work.computerMinutes == 5">5 minutes</option>
                        <option value="10" ng-selected="vm.savingPlan.savings.work.computerMinutes == 10">10 minutes</option>
                        <option value="15" ng-selected="vm.savingPlan.savings.work.computerMinutes == 15">15 minutes</option>
                        <option value="20" ng-selected="vm.savingPlan.savings.work.computerMinutes == 20">20 minutes</option>
                        <option value="25" ng-selected="vm.savingPlan.savings.work.computerMinutes == 25">25 minutes</option>
                        <option value="30" ng-selected="vm.savingPlan.savings.work.computerMinutes == 30">30 minutes</option>
                        <option value="45" ng-selected="vm.savingPlan.savings.work.computerMinutes == 45">45 minutes</option>
                        <option value="60" ng-selected="vm.savingPlan.savings.work.computerMinutes == 60">1 hour</option>
                        <option value="120" ng-selected="vm.savingPlan.savings.work.computerMinutes == 120">2 hours</option>
                        <option value="180" ng-selected="vm.savingPlan.savings.work.computerMinutes == 180">3 hours</option>
                        <option value="240" ng-selected="vm.savingPlan.savings.work.computerMinutes == 240">4 hours</option>
                        <option value="300" ng-selected="vm.savingPlan.savings.work.computerMinutes == 300">5 hours</option>
                        <option value="0" ng-selected="vm.savingPlan.savings.work.computerMinutes == 0">Never</option>
                    </select>
                </div>
                <div class="pull-left" style="padding-left:50px;">
                    Computer power saving
                    <select ng-model="vm.savingPlan.savings.work.perform">
                        <option value="Sleep" ng-selected="vm.savingPlan.savings.work.perform == 'Sleep'">Sleep</option>
                        <option value="Hibernate" ng-selected="vm.savingPlan.savings.work.perform == 'Hibernate'">Hibernate</option>
                        <option value="Shutdown" ng-selected="vm.savingPlan.savings.work.perform == 'Shutdown'">Shut down</option>
                    </select>
                </div>
            </div>
            <div style="padding-top:20px;">
                <uib-tabset active="activePill" vertical="true" type="pills" class="clearfix uibTabSet">
                    <uib-tab index="6" heading="Options" class="xxx">
                        <options-tab jsonobject="vm.savingPlan.savings.work.options"  save-event = false></options-tab>
                    </uib-tab>
                    <uib-tab index="7" heading="Applications">
                        <application-tab worktype='work' jsonobject="vm.savingPlan.savings.work.options" save-event=false></application-tab>
                    </uib-tab>
                    <uib-tab index="8" heading="Computers">
                        <computers-tab jsonobject="vm.savingPlan.savings.work.options" worktype='Work'></computers-tab>
                    </uib-tab>
                    <uib-tab index="9" heading="Performance Metrics">
                        <performance-metrics-tab jsonobject="vm.savingPlan.savings.work.options" worktype='work' save-event= false></performance-metrics-tab>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="1" heading="Non-Work Hours">
        <div class="panel-body">
            <div class="clearfix">
                <div class="pull-left">
                    Turn off the display
                    <select ng-model="vm.savingPlan.savings.nonWork.displalyMinutes" convert-to-number>
                        <option value="1" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 1">1 minute</option>
                        <option value="2" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 2">2 minutes</option>
                        <option value="3" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 3">3 minutes</option>
                        <option value="5" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 5">5 minutes</option>
                        <option value="10" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 10">10 minutes</option>
                        <option value="15" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 15">15 minutes</option>
                        <option value="20" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 20">20 minutes</option>
                        <option value="25" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 25">25 minutes</option>
                        <option value="30" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 30">30 minutes</option>
                        <option value="45" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 45">45 minutes</option>
                        <option value="60" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 60">1 hour</option>
                        <option value="120" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 120">2 hours</option>
                        <option value="180" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 180">3 hours</option>
                        <option value="240" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 240">4 hours</option>
                        <option value="300" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 300">5 hours</option>
                        <option value="0" ng-selected="vm.savingPlan.savings.nonWork.displalyMinutes == 0">Never</option>
                    </select>
                </div>
                <div class="pull-left" style="padding-left:50px;">
                    Perform
                    <select ng-model="vm.savingPlan.savings.nonWork.computerMinutes" convert-to-number>
                        <option value="1" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 1">1 minute</option>
                        <option value="2" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 2">2 minutes</option>
                        <option value="3" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 3">3 minutes</option>
                        <option value="5" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 5">5 minutes</option>
                        <option value="10" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 10">10 minutes</option>
                        <option value="15" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 15">15 minutes</option>
                        <option value="20" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 20">20 minutes</option>
                        <option value="25" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 25">25 minutes</option>
                        <option value="30" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 30">30 minutes</option>
                        <option value="45" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 45">45 minutes</option>
                        <option value="60" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 60">1 hour</option>
                        <option value="120" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 120">2 hours</option>
                        <option value="180" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 180">3 hours</option>
                        <option value="240" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 240">4 hours</option>
                        <option value="300" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 300">5 hours</option>
                        <option value="0" ng-selected="vm.savingPlan.savings.nonWork.computerMinutes == 0">Never</option>
                    </select>
                </div>
                <div class="pull-left" style="padding-left:50px;">
                    Computer power saving
                    <select ng-model="vm.savingPlan.savings.nonWork.perform">
                        <option value="Sleep" ng-selected="vm.savingPlan.savings.nonWork.perform == 'Sleep'">Sleep</option>
                        <option value="Hibernate" ng-selected="vm.savingPlan.savings.nonWork.perform == 'Hibernate'">Hibernate</option>
                        <option value="Shutdown" ng-selected="vm.savingPlan.savings.nonWork.perform == 'Shutdown'">Shut down</option>
                    </select>
                </div>
            </div>
            <div style="padding-top:20px;">
                <uib-tabset active="activePill2" vertical="true" type="pills" class="clearfix uibTabSet">
                    <uib-tab index="2" heading="Options" class="xxx">
                        <options-tab jsonobject="vm.savingPlan.savings.nonWork.options"  save-event = false></options-tab>
                    </uib-tab>
                    <uib-tab index="3" heading="Applications">
                        <application-tab worktype='nonWork' jsonobject="vm.savingPlan.savings.nonWork.options" save-event=false></application-tab>
                    </uib-tab>
                    <uib-tab index="4" heading="Computers">
                        <computers-tab jsonobject="vm.savingPlan.savings.nonWork.options"  worktype='nonWork'></computers-tab>
                    </uib-tab>
                    <uib-tab index="5" heading="Performance Metrics">
                        <performance-metrics-tab jsonobject="vm.savingPlan.savings.nonWork.options" worktype='nonWork' save-event= false></performance-metrics-tab>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </uib-tab>
</uib-tabset> -->
