.overview {
    margin: 0 -48px;
    background-color: #f9f9f9;
    > div.row {
        &:first-child {
            padding-right: 10px;
            > div.col-xs-9 {
                height: 112px;
                > div.row {
                    > div.col-xs-12 {
                        > span {
                            font-family: Calibri;
                            color: rgba(26, 26, 26, 0.7);
                            font-size: 16.93px;
                            font-weight: 300;
                            line-height: 26.338px;
                            text-align: left;
                        }
                    }
                }
            }
            > div.col-xs-3 {
                height: 112px;
                background-color: #f2f2f2;
                > div {
                    line-height: 56px;
                    > span {
                        font-family: Calibri;
                        color: rgba(26, 26, 26, 0.7);
                        font-size: 14px;
                        font-weight: 300;
                        letter-spacing: -0.182px;
                        text-align: left;
                        padding-left: 23px;
                    }
                }
            }
        }
        &:last-child {
            background-color: #f2f2f2;
            margin-top: 10px;
            > div.col-xs-4 {
              padding-top: 30px;
                &:first-child {}
                &:nth-child(2) {}
                &:last-child {
                    .bigNumber {
                        font-family: Calibri;
                        font-size: 33.39px;
                        font-weight: 700;
                        text-align: left;
                    }
                    .font {
                        font-family: Calibri;
                        color: rgba(26, 26, 26, 0.7);
                        font-size: 16.69px;
                        font-weight: 300;
                        text-align: left;
                    }
                    .green {
                        color: #8cc63f;
                    }
                }
            }
        }
    }
}
// Chart directive
.chart-wraper {
    width: 33%;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 5px;
    .chart-title {
        font-size: 20px;
        padding: 10px 0;
    }
    .chart-work {
        padding: 10px;
        box-sizing: border-box;
        background-color: #fff;
    }
    .chart-non-work {
        padding: 10px;
        box-sizing: border-box;
        background-color: #e6e6e6;
    }
}
