div.content-wrapper {
    background-color: #f9f9f9;
}
.overview {
    margin: 0 -48px;
    background-color: #f9f9f9;
    div.flex {
        height: 112px;
        display: flex;
        justify-content: flex-end;
        padding-left: 33px;
        > div {
            &:first-child {
                flex-grow: 1;
            }
            &:last-child {
                width: 250px;
                height: 112px;
                background-color: #f2f2f2;
                > div {
                    height: 56px;
                    > div {
                        display: inline-block;
                        float: left;
                        line-height: 56px;
                        &:first-child {
                            width: 70px;
                            margin-left: 38px;
                            > span {
                                font-family: Calibri;
                                color: rgba(26, 26, 26, 0.7);
                                font-size: 14px;
                                font-weight: 300;
                                letter-spacing: -0.182px;
                            }
                        }
                    }
                }
            }
            > div.row {
                height: 28px;
                &:nth-child(1),
                &:nth-child(2) {
                    img {
                        margin-bottom: 8px;
                    }
                    span {
                        margin-left: 5px;
                    }
                }
                &:nth-child(3),
                &:nth-child(4) {
                    img {
                        margin-left: 5px;
                        margin-bottom: 5px;
                    }
                    span {
                        margin-left: 10px;
                    }
                }
                > div.col-xs-12 {
                    > img.margin {
                        padding-left: 10px;
                    }
                    > span {
                        font-family: Calibri;
                        color: rgba(26, 26, 26, 0.7);
                        font-size: 16.93px;
                        font-weight: 300;
                        line-height: 26.338px;
                        text-align: left;
                    }
                }
            }
        }
    }
    > div.row {
        padding-bottom: 35px;
        &:last-child {
            background-color: #f2f2f2;
            margin-top: 10px;
            > div.col-xs-4 {
                padding-top: 30px;
                &:first-child {}
                &:nth-child(2) {}
                &:last-child {
                    .bigNumber {
                        font-family: Calibri;
                        font-size: 33.39px;
                        font-weight: 700;
                        text-align: left;
                    }
                    .font {
                        font-family: Calibri;
                        color: rgba(26, 26, 26, 0.7);
                        font-size: 16.69px;
                        font-weight: 300;
                        text-align: left;
                    }
                    .green {
                        color: #8cc63f;
                    }
                    > div.row {
                        &:nth-child(2),
                        &:nth-child(3) {
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
}
// Chart directive
.chart-wraper {
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 5px;
    .chart-title {
        font-size: 20px;
        padding: 10px 0;
        font-family: Calibri;
        color: rgba(26, 26, 26, 0.7);
        font-size: 17px;
        font-weight: 400;
        text-align: left;
    }
    .chart-work {
        padding: 10px;
        box-sizing: border-box;
        background-color: #fff;
    }
    .chart-non-work {
        padding: 10px;
        box-sizing: border-box;
        background-color: #e6e6e6;
    }
}
md-datepicker {
    display: inline-block;
    height: 30px;
    > div {
        margin: 7px 0 0 12px;
        &.md-datepicker-input-container {
            border: none;
            width: 88px;
        }
    }
    > button {
        display: none !important;
    }
    button.md-focused {
        background-color: none;
    }
    button {
        top: 0 !important;
        left: 53px !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    input {
        font-family: Calibri;
        color: rgba(102, 102, 102, 0.7) !important;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: -0.182px;
        text-align: left;
    }
}
//Calendar styles
.week-view-total {
    position: relative;
    z-index:5;
    .week-view-head {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 160px);
        height: 43px;
        background-color: #fbfbfb;
        padding-left: 57px;
        padding-right: 15px;
        z-index: 50;
        .left-span {
            font-size: 0;
            .day {
                display: inline-block;
                width: 14.2857%;
                font-size: 16px;
                line-height: 43px;
                text-align: center;
            }
        }
    }
    .week-view-position {
        position: relative;
        width: 100%;
        border-right: 1px solid #cfcfcf;
        .calendar {
            width: 100%;
            padding-right: 152px;
            position: relative;
            .left-span {
                background-color: #fbfbfb;
                padding-top: 43px;
                width: 57px;
                position: absolute;
                top: 0;
                left: 0;
                margin-right: -100%;
                font-size: 0;
                z-index: 10;
                .numbers {
                    width: 50px;
                    font-size: 16px;
                    float: left;
                    height: 100%;
                    padding-bottom: 8px;
                }
                .number {
                    color: #dbdbdb;
                    height: 16px;
                    box-sizing: border-box;
                    text-align: center;
                }
                .lines {
                    width: 7px;
                    font-size: 16px;
                    float: right;
                    height: 100%;
                    padding-top: 8px;
                }
            }
            .line1 {
                border-top: 1px solid #e6e6e6;
                height: 16px;
                box-sizing: border-box;
            }
            .line2 {
                border-top: 1px solid #f0f0f0;
                height: 16px;
                box-sizing: border-box;
            }
            .right-span {
                background-color: #fbfbfb;
                padding-top: 43px;
                width: 100%;
                box-sizing: border-box;
                padding-left: 57px;
                padding-right: 15px;
                position: relative;
                .lines {
                    width: 100%;
                    font-size: 16px;
                    float: right;
                    height: 100%;
                    padding-top: 8px;
                }
                .day-coll {
                    font-size: 0;
                    z-index: 15;
                    position: absolute;
                    top: 51px;
                    left: 57px;
                    width: calc(100% - 72px);
                    height: calc(100% - 66px);
                    .day {
                        display: inline-block;
                        width: 14.2857%;
                        font-size: 16px;
                        height: 100%;
                        position: relative;
                        box-sizing: border-box;
                        .day-wrape {
                            margin: 0 2px;
                            position: relative;
                            box-sizing: border-box;
                            height: 100%;
                            .work-time {
                                box-sizing: border-box;
                                position: absolute;
                                display: block;
                                width: 100%;
                                z-index: 16;
                                border: 1px solid #8cc63f;
                                background-color: #a3d165;
                                opacity: 0.5;
                                height: 128px;
                                .triangle {
                                    border: 8px solid transparent;
                                    border-top: 8px solid #629900;
                                    border-right: 8px solid #629900;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    z-index: 95;
                                }
                            }
                        }
                    }
                }
            }
        }
        .events {
            width: 144px;
            position: absolute;
            right: 0;
            top: 0;
            margin-left: -100%;
            border-left: 1px solid #e0e0e0;
            height: 100%;
            padding: 0 5px;
            .title {
                text-align: left;
                font-size: 20px;
            }
        }
    }
    .bottom-week-view {
        width: 100%;
        box-sizing: border-box;
        height: 28px;
        position: relative;
        margin-top: 10px;
        .day-limit-left-bord {
            width: 56px;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            margin-right: -100%;
            left: 0;
            background-color: #badd8b;
            height: 100%;
            line-height: 28px;
        }
        .day-limit-right {
            width: calc(14.2857% + 150px);
            display: inline-block;
            box-sizing: border-box;
            padding: 0 15px 0 1px;
        }
        .day-limit-right-bord {
            box-sizing: border-box;
            right: 15px;
            background-color: #badd8b;
            height: 100%;
            line-height: 28px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            .title {
                height: 28px;
                width: 85px;
                text-align: left;
                line-height: 28px;
                display: inline-block;
                position: relative;
                font-size: 16px;
                top: 0;
            }
        }
        .day-limit {
            width: 100%;
            box-sizing: border-box;
            padding-left: 57px;
            position: relative;
            top: 0;
            height: 100%;
            font-size: 0;
            .day-wrap .day {
                display: block;
                float: left;
                box-sizing: border-box;
                width: calc(14.2857% - 25px);
                height: 28px;
                line-height: 28px;
                padding: 0 1px;
                font-size: 14px;
                .day-text {
                    box-sizing: border-box;
                    height: 100%;
                    line-height: 30px;
                    text-align: center;
                    background-color: #8cc63e;
                    color: #fff;
                }
            }
        }
    }
    .mCSB_container_wrapper {
        margin-right: 7px;
    }
    .mCSB_scrollTools {
        width: 7px;
    }
    .mCSB_scrollTools .mCSB_draggerContainer {
        margin: 2px 0;
    }
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        width: 6px;
        background-color: #8ac841;
        border-radius: 0;
    }
    .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
        background-color: #8ac841;
    }
    .mCSB_scrollTools .mCSB_draggerRail {
        box-sizing: border-box;
        width: 6px;
        background-color: #e8e8e8;
    }
    .mCSB_container_wrapper > .mCSB_container {
        padding-right: 0;
    }
    .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden {
        margin-right: 7px !important;
    }
    .clear:after {
        content: '';
        display: block;
        clear: both;
    }
    .ui-icon,
    .ui-widget-content .ui-icon {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 15px;
        width: 100%;
    }
}
//Saving Plan Styles
.savingPlans > div#organizationName > .customTable > .customTableHead > div:focus {
    outline: none;
}
//CustomRadioButtomTypeOneStyles
$offColor: #f3f3f3;
$onColor: #8fc73e;
$textColor: #898989;
custom-radio-button-type-one div {
    margin: 0 0 0.75em;
}
custom-radio-button-type-one input[type="radio"] {
    display: none;
}
custom-radio-button-type-one input[type="radio"] + label {
    color: $textColor;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
custom-radio-button-type-one input[type="radio"] + label span {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
custom-radio-button-type-one input[type="radio"] + label span span {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 4px 4px 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
custom-radio-button-type-one input[type="radio"] + label > span {
    border: 1px solid $offColor;
}
custom-radio-button-type-one input[type="radio"]:checked + label span span {
    background-color: $onColor;
}
custom-radio-button-type-one input[type="radio"] + label span,
custom-radio-button-type-one input[type="radio"]:checked + label span {
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}
// Events page
.eventsWrapper {
    > div {
        border-top: 5px solid #8cc63f;
        height: 325px;
        > div {
            float: left;
            height: 100%;
            &:first-child {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40%;
                > div {
                    display: flex;
                    flex-direction: row;
                    &:first-child {
                        > div {
                            &:first-child {
                                border-left: 2px dotted black;
                                border-top: 2px dotted black;
                                border-bottom: 2px dotted black;
                                border-radius: 10px 0 0 10px;
                            }
                            div {
                                width: 40px;
                                height: 32px;
                                &:not(:first-child) {
                                    border-top: 2px dotted black;
                                }
                                &:last-child {
                                }
                            }
                        }
                    }
                    &:last-child {}
                }
            }
            &:last-child {
                width: 60%;
            }
        }
    }
}
//tinyMCE description


.mce-menubar, .mce-statusbar{
  display:none!important;
}


.mce-container-body:after{
  display:block;
  clear:both;
  content:'';
}

.mce-stack-layout{
  position:relative;
}

.mce-toolbar-grp{
  float:right!important;
  width:525px!important;
  position:relative!important;
  margin-left:-100%!important;
  padding-top:0px!important;
  margin-top:-4px!important;
}

.mce-edit-area{
  float:left!important;
  width:100%!important;
  box-sizing:  border-box!important;
  padding-right:525px!important;
}

.mce-tinymce, .mce-toolbar-grp, .wraper-tinymce .mce-panel{
  background-color:transparent!important;
  border:none!important;
  border-width:0px!important;
  border-color:transparent!important;
}



.mce-edit-area iframe{
  border: 1px solid #9e9e9e;
  min-height: 162px;
}

.mce-toolbar{
  padding-left:20px!important;
  padding-right:20px!important;

}

.mce-btn{
  background-color:transparent!important;
}

.mce-btn-group{
  background: rgba(255,255,255,1)!important;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)!important;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)))!important;
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)!important;
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)!important;
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)!important;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)!important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 )!important;
  padding:2px!important;
}

.mce-btn-group:not(:first-child){
  margin-left: 0px!important;
}

.mce-btn-group{
  border-left: 1px solid #d9d9d9!important;
  margin-left: 0px!important;
  margin-right: 0px!important;
}

.wraper-tinymce{
  position: relative;

  .btn-block-tinymce{
    position: absolute;
    bottom: 0px;
    right: 353px;

    .btn{
      border-radius:0px;
      border:0px;
      font-weight:bold;
    }

    .btn-success{
      background-color:#8cc63e;
    }

    .btn-primary{
      background-color:#28b8ed;
    }
  }
}