div.content-wrapper {
    background-color: #f9f9f9;
}
.overview {
    margin: 0 -48px;
    background-color: #f9f9f9;
    div.flex {
        height: 112px;
        display: flex;
        justify-content: flex-end;
        padding-left: 33px;
        > div {
            &:first-child {
                flex-grow: 1;
            }
            &:last-child {
                width: 250px;
                height: 112px;
                background-color: #f2f2f2;
                > div {
                    height: 56px;
                    > div {
                        display: inline-block;
                        float: left;
                        line-height: 56px;
                        &:first-child {
                            width: 70px;
                            margin-left: 38px;
                            > span {
                                font-family: Calibri;
                                color: rgba(26, 26, 26, 0.7);
                                font-size: 14px;
                                font-weight: 300;
                                letter-spacing: -0.182px;
                            }
                        }
                    }
                }
            }
            > div.row {
                height: 28px;
                &:nth-child(1),
                &:nth-child(2) {
                    img {
                        margin-bottom: 8px;
                    }
                    span {
                        margin-left: 5px;
                    }
                }
                &:nth-child(3),
                &:nth-child(4) {
                    img {
                        margin-left: 5px;
                        margin-bottom: 5px;
                    }
                    span {
                        margin-left: 10px;
                    }
                }
                > div.col-xs-12 {
                    > img.margin {
                        padding-left: 10px;
                    }
                    > span {
                        font-family: Calibri;
                        color: rgba(26, 26, 26, 0.7);
                        font-size: 16.93px;
                        font-weight: 300;
                        line-height: 26.338px;
                        text-align: left;
                    }
                }
            }
        }
    }
    > div.row {
      padding-bottom: 35px;
        &:last-child {
            background-color: #f2f2f2;
            margin-top: 10px;
            > div.col-xs-4 {
                padding-top: 30px;
                &:first-child {}
                &:nth-child(2) {}
                &:last-child {
                    .bigNumber {
                        font-family: Calibri;
                        font-size: 33.39px;
                        font-weight: 700;
                        text-align: left;
                    }
                    .font {
                        font-family: Calibri;
                        color: rgba(26, 26, 26, 0.7);
                        font-size: 16.69px;
                        font-weight: 300;
                        text-align: left;
                    }
                    .green {
                        color: #8cc63f;
                    }
                    > div.row {
                        &:nth-child(2),
                        &:nth-child(3) {
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
}
// Chart directive
.chart-wraper {
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 5px;
    .chart-title {
        font-size: 20px;
        padding: 10px 0;
        font-family: Calibri;
        color: rgba(26, 26, 26, 0.7);
        font-size: 17px;
        font-weight: 400;
        text-align: left;
    }
    .chart-work {
        padding: 10px;
        box-sizing: border-box;
        background-color: #fff;
    }
    .chart-non-work {
        padding: 10px;
        box-sizing: border-box;
        background-color: #e6e6e6;
    }
}
md-datepicker {
    display: inline-block;
    height: 30px;
    > div {
        margin: 7px 0 0 12px;
        &.md-datepicker-input-container {
          border: none;
            width: 88px;
        }
    }
    > button {
        display: none !important;
    }
    button.md-focused {
        background-color: none;
    }
    button {
        top: 0 !important;
        left: 53px !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    input {
        font-family: Calibri;
        color: rgba(102, 102, 102, 0.7) !important;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: -0.182px;
        text-align: left;
    }
}
