.savingPlans {
    .manageBlock{
        float:left;
        padding-top:30px;
        > .planTitle{
            font-family: Calibri;
            color: #333333;
            font-size: 20px;
            letter-spacing: -0.26px;
            font-weight: 700;
        }
        > .manageButton{
            color: #8CC63F;
            font-size: 20px;
            font-family: Calibri;
            font-weight: 700;
            display: inline-block;
            padding-left: 10px;
        }
    }
    .searchBlock {
    text-align: right;
    float:right;
    > input {
      height: 37px;
      width: 300px;
      border: 1px solid #f5f5f5;
      outline: none;
      margin-top: 30px;
      margin-bottom: 58px;
      &::-webkit-input-placeholder {
        font-family: Calibri;
        color: rgba(102, 102, 102, 0.7);
        font-size: 15px;
        font-weight: 300;
        letter-spacing: -0.203px;
        padding-left: 5px;
      }
      &::-moz-placeholder {
        font-family: Calibri;
        color: rgba(102, 102, 102, 0.7);
        font-size: 15px;
        font-weight: 300;
        letter-spacing: -0.203px;
        padding-left: 5px;
      }
      /* Firefox 19+ */
      &:-moz-placeholder {
        font-family: Calibri;
        color: rgba(102, 102, 102, 0.7);
        font-size: 15px;
        font-weight: 300;
        letter-spacing: -0.203px;
        padding-left: 5px;
      }
      /* Firefox 18- */
      &:-ms-input-placeholder {
        font-family: Calibri;
        color: rgba(102, 102, 102, 0.7);
        font-size: 15px;
        font-weight: 300;
        letter-spacing: -0.203px;
        padding-left: 5px;
      }
    }
  }
  > i {
    color: #484848;
  }
  > span:nth-child(2) {
    line-height: 35px;
    > span {
      font-family: Calibri;
      color: #333333;
      font-size: 18px;
      letter-spacing: -0.26px;
      &:first-child {
        font-weight: 700;
      }
      &:last-child {
        font-weight: 300;
      }
    }
  }
  > span.buttonTypeOne {
    float: right;
    font-family: Calibri;
    color: rgba(26, 26, 26, 0.7);
    font-size: 14.83px;
    font-weight: 700;
    cursor: pointer;
    line-height: 33px;
  }
  > div#organizationName {
    > .customTable {
      width: 100%;
      border-top: $greenBorderTop;
      display: table;
      border-spacing: 0 5px;
      > .customTableHead {
        display: table-row;
        height: 55px;
        font-family: Calibri;
        color: #4d4d4d;
        font-size: 13.46px;
        font-weight: 300;
        > div {
          display: table-cell;
          vertical-align: middle;
          cursor: pointer;
          &:first-child {
            padding: 12px 0px 17px 18px;
          }
          & img {
            display: block;
            float: left;
            margin-right: 11px;
          }
        }
      }
      > .customTableRow {
        display: table-row;
        height: 70px;
        background-color: rgba(241, 241, 241, 0.5);
        div {
          display: table-cell;
          border-bottom: 1px solid #cecece;
          vertical-align: middle;
          &:nth-child(2),
          &:nth-child(4) {
            padding-left: 60px;
          }

          &:first-child {
            padding-left: 18px;
            span {
              &:nth-child(1) {
                font-family: Calibri;
                color: #4d4d4d;
                font-size: 18px;
                font-weight: 300;
              }
              // &:nth-child(2) {
              //   font-family: Calibri;
              //   color: #4d4d4d;
              //   font-size: 18px;
              //   font-weight: 700;
              // }
              &:nth-child(5) {
                font-family: Calibri;
                color: #b3b3b3;
                font-size: 18px;
                font-weight: 300;
              }
              &:nth-child(6) {
                font-family: Calibri;
                color: #739b34;
                font-size: 18px;
                font-weight: 300;
              }
            }
            > a {
                font-family: Calibri;
                color: #4d4d4d;
                font-size: 18px;
                font-weight: 700;
                list-style: none;
                text-decoration: none;
            }
            > i{
                margin: 0px 5px;
            }
          }
          &:nth-child(2),
          &:nth-child(3) {
            font-family: Calibri;
            color: #7dca00;
            font-size: 28px;
            font-weight: 700;
          }
          &:nth-child(4) {
            font-family: Calibri;
            color: rgba(102, 102, 102, 0.7);
            font-size: 28px;
            font-weight: 400;
          }
          &:last-child {
            font-family: Calibri;
            color: #8cc63f;
            font-size: 28px;
            font-weight: 700;
          }
        }
      }
    }
  }
}
