.settings{
    padding-top:20px;
    .nav-tabs > li{
        margin-bottom:5px;
        > a, > a:focus, > a:hover {
            padding-left: 20px;
            padding-right: 20px;
            min-width: 150px;
            text-align: center;
        }
    }
    .save-button-margin{
        height:100px;
        width:100%;
    }
    input.custom-checkbox-green-type00{
        display:none;
        + label{
            position: relative;
            margin: 0;
            height: 15px;
            width: 35px;
            &:before{
                position: absolute;
                content: '';
                height: 15px;
                width: 15px;
                border: 1px solid #d9d9d9;
                left: 10px;
                top: 3px;
                background-color: #ffffff;
            }
        }
        &:checked{
            + label{
                &:before{
                    position: absolute;
                    content: '\f00c';
                    font-family: 'FontAwesome';
                    color: #a3d165;
                    height: 15px;
                    width: 15px;
                    border: 1px solid #d9d9d9;
                    text-align: center;
                    line-height: 15px;
                    left: 10px;
                    top: 3px;
                    background-color: #ffffff;
                }
            }
        }   
    }

    .buttons-container{ 
        position:fixed;
        bottom:0px; 
        right:0px;
        left:246px;
        background-color:#f2f2f2;
        height:100px; 
        z-index: 10;
        div{
            padding-top:30px;
            padding-right:30px;
            text-align:center;
            .btn-save-green{
                width:160px;
                height:44px;
                background-color:#8cc63f;
                border:none;
                text-align:center;
                color:#fff;
                font-size:20px;
                font-weight:bold;
                font-family:Calibri;
                margin-right:2px;
                outline:none;
            }
            .btn-discard-gray{
                width:160px;
                height:44px;
                background-color:#808080;
                border:none;
                text-align:center;
                color:#fff;
                font-size:20px;
                font-weight:bold;
                font-family:Calibri;
                outline:none;
            }
        }
    }    
    > .bg-separator{
        height:74px;
        background-color: rgba(242,242,242,0.6);
        width:100%;
        margin-bottom:20px;
    }
    .type-selection{
        padding-top:10px;
        padding-bottom:10px;
        font-family:Calibri;
        font-weight:bold;
        font-size:16px;    
        color: rgba(26, 26, 26, 0.7);
        select{
            font-weight:normal;
            width:225px;
            height:40px;
            margin-left:20px;
            color: rgba(26, 26, 26, 1);
            font-size:14px;
        }
    }
    select.big-select{
            font-weight:normal;
            width:225px;
            height:40px;
            margin-left:20px;
            color: rgba(26, 26, 26, 1);
            font-size:14px;
        }
    .text-container{
        textarea{
            width:100%; 
            height:300px;
            padding:5px;
        }
    }
    .green-line{
        width: 100%;
        height: 5px;
        background-color: #8cc63f;
    }
    .powerConsumption-content 
    {
        padding-top: 20px;
    }
    > .script-content
    {
        padding-top: 12px;
    }
    > .computer-groups  {
        .computer-group-action{
            position: relative;
            top: 50%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    > .script-content, .powerConsumption-content, .computer-groups, .consolePermission-content
    {
        .action-settings {
            font-family: Calibri;
            color: rgba(26, 26, 26, 0.7);
            font-size: 14.83px;
            font-weight: 700;
            text-align: left;
            margin-left: 30px;
            &:before{
                margin-right: 5px;
            }
        }

        > span {
            font-family: Calibri;
            color: #4d4d4d; 
            font-size: 18px;
            font-weight: 700;
        }

        table {
            margin-top: 20px;
            tr > td {                                    
                > .action-settings{
                    float: right;
                    display: block;
                    &:last-child {
                        margin-left:0px;
                    }
                }
            }
            > thead {
                font-family: Calibri;
                color: rgba(26, 26, 26, 0.7);
                font-size: 14px;
                font-weight: 700;
                letter-spacing: -0.182px;
            }
            > tbody{
                font-family: Calibri;
                color: #333333;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: -0.182px;
                > tr {
                    border: none;
                    outline: none;
                    &.bg-row-selected {
                        background-color: rgba(242,242,242,0.6);
                    }
                    > td {
                        height: 46px;
                        vertical-align: middle;
                        font-family: Calibri; 
                        &.bolder{
                            font-weight: bold;
                        }
                        &.grid-cell{
                            input[type="text"]{
                                font-family: Calibri;
                                width:50px;
                                border:none;
                                outline:none;    
                                height: 28px;
                                padding: 5px;
                            }
                            select{
                                font-family: Calibri;                                
                                border:none;
                                outline:none;
                            }
                        }
                        &.button-padding{
                            padding-right:48px;
                        }  
                        &.button-container{
                            width:100px;
                            text-align:right;             
                        }
                      }
                }
            }
        }
    }
}
md-dialog{
    &.script-prop{
        > md-toolbar{
            background-color: #ffffff;
            padding-left: 32px;
            padding-right: 34px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            > div{
                font-family: Calibri;
                color: rgba(26, 26, 26, 0.7);
                font-size: 24px;
                font-weight: 300;
                text-align: left;
            }
        }
        > md-content{
            background-color: #ffffff;
            padding-left: 32px;
            padding-right: 34px;
            .script-data-row{
                padding-bottom: 20px;
                span{
                    width:100px;
                    display:inline-block;
                    font-family: Calibri;
                    font-size: 16px;
                    color: rgba(26, 26, 26, 0.7);
                }
                input[type=text]{
                    width: 300px;
                    height: 40px;
                    color: #1a1a1a;
                    font-size: 14px;
                    padding: 5px;
                }
                textarea{
                    width: 300px;
                    height: 150px;
                    color: #1a1a1a;
                    font-size: 14px;
                    padding: 5px;
                }
            }
            .buttonsBlock{
                text-align: center;
                padding: 15px 0;
                padding-left: 100px;
                > button{
                    height: 40px;
                    width: 120px;
                    border: none;
                    font-family: Calibri;
                    color: #ffffff;
                    font-size: 20.3px;
                    font-weight: 700;
                    &:first-child {
                        background-color: #8cc63f;
                    }
                    &:last-child{
                        background-color: #808080;
                    }
                }
            }
        }
    }
}