################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/Powerplug.Web/v14/.suo
/.vs/config/applicationhost.config
/.gitignore
