################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/Powerplug.Web/v14/.suo
/.vs/config/applicationhost.config
gulpfile.js
package.json
node_modules
Powerplug.Web/bower_components
/Powerplug.Web/app/services/common/common.services.js
/Powerplug.Web/index.html
**/common.services.js
