.savingPlans {
  > .searchBlock {
    text-align: right;
    > input {
      height: 37px;
      width: 300px;
      border: 1px solid #f5f5f5;
      outline: none;
      margin-top: 30px;
      margin-bottom: 58px;
      &::-webkit-input-placeholder {
        font-family: Calibri;
        color: rgba(102, 102, 102, 0.7);
        font-size: 15px;
        font-weight: 300;
        letter-spacing: -0.203px;
        padding-left: 5px;
      }
      &::-moz-placeholder {
        font-family: Calibri;
        color: rgba(102, 102, 102, 0.7);
        font-size: 15px;
        font-weight: 300;
        letter-spacing: -0.203px;
        padding-left: 5px;
      }
      /* Firefox 19+ */
      &:-moz-placeholder {
        font-family: Calibri;
        color: rgba(102, 102, 102, 0.7);
        font-size: 15px;
        font-weight: 300;
        letter-spacing: -0.203px;
        padding-left: 5px;
      }
      /* Firefox 18- */
      &:-ms-input-placeholder {
        font-family: Calibri;
        color: rgba(102, 102, 102, 0.7);
        font-size: 15px;
        font-weight: 300;
        letter-spacing: -0.203px;
        padding-left: 5px;
      }
    }
  }
  > i {
    color: #484848;
  }
  > span:first-child {
    > span {
      font-family: Calibri;
      color: #333333;
      font-size: 20px;
      letter-spacing: -0.26px;
      &:first-child {
        font-weight: 700;
      }
      &:last-child {
        font-weight: 300;
      }
    }
  }
  > span.buttonTypeOne {
    float: right;
    font-family: Calibri;
    color: rgba(26, 26, 26, 0.7);
    font-size: 14.83px;
    font-weight: 700;
    cursor: pointer;
  }
  > div#organizationName {
    > .customTable {
      width: 100%;
      border-top: $greenBorderTop;
      display: table;
      border-spacing: 0 5px;
      > .customTableHead {
        display: table-row;
        height: 70px;
        font-family: Calibri;
        color: #4d4d4d;
        font-size: 13.46px;
        font-weight: 300;
        > div {
          display: table-cell;
          vertical-align: middle;
          & img {
            display: block;
            float: left;
            margin-right: 11px;
          }
        }
      }
      > .customTableRow {
        display: table-row;
        height: 70px;
        background-color: rgba(241, 241, 241, 0.5);
        div {
          display: table-cell;
          border-bottom: 1px solid #cecece;
          vertical-align: middle;
          &:nth-child(2),
          &:nth-child(4) {
            padding-left: 60px;
          }

          &:first-child {
            span {
              &:nth-child(1) {
                font-family: Calibri;
                color: #4d4d4d;
                font-size: 18px;
                font-weight: 300;
              }
              &:nth-child(2) {
                font-family: Calibri;
                color: #4d4d4d;
                font-size: 18px;
                font-weight: 700;
              }
              &:nth-child(5) {
                font-family: Calibri;
                color: #b3b3b3;
                font-size: 18px;
                font-weight: 300;
              }
              &:nth-child(6) {
                font-family: Calibri;
                color: #739b34;
                font-size: 18px;
                font-weight: 300;
              }
            }
          }
          &:nth-child(2),
          &:nth-child(3) {
            font-family: Calibri;
            color: #7dca00;
            font-size: 28px;
            font-weight: 700;
          }
          &:nth-child(4) {
            font-family: Calibri;
            color: rgba(102, 102, 102, 0.7);
            font-size: 28px;
            font-weight: 400;
          }
          &:last-child {
            font-family: Calibri;
            color: #8cc63f;
            font-size: 28px;
            font-weight: 700;
          }
        }
      }
    }
  }
}


.mce-menubar, .mce-statusbar{
  display:none!important;
}


.mce-container-body:after{
  display:block;
  clear:both;
  content:'';
}

.mce-stack-layout{
  position:relative;
}

.mce-toolbar-grp{
  float:right!important;
  width:525px!important;
  position:relative!important;
  margin-left:-100%!important;
  padding-top:0px!important;
  margin-top:-4px!important;
}

.mce-edit-area{
  float:left!important;
  width:100%!important;
  box-sizing:  border-box!important;
  padding-right:525px!important;
}

.mce-tinymce, .mce-toolbar-grp, .wraper-tinymce .mce-panel{
  background-color:transparent!important;
  border:none!important;
  border-width:0px!important;
  border-color:transparent!important;
}



#ui-tinymce-0_ifr{
  border: 1px solid #9e9e9e;
  min-height: 162px;
}

.mce-toolbar{
  padding-left:20px!important;
  padding-right:20px!important;

}

.mce-btn{
  background-color:transparent!important;
}

.mce-btn-group{
  background: rgba(255,255,255,1)!important;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)!important;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)))!important;
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)!important;
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)!important;
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)!important;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)!important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 )!important;
  padding:2px!important;
}

.mce-btn-group:not(:first-child){
  margin-left: 0px!important;
}

.mce-btn-group{
  border-left: 1px solid #d9d9d9!important;
  margin-left: 0px!important;
  margin-right: 0px!important;
}

.wraper-tinymce{
  position: relative;

  .btn-block-tinymce{
    position: absolute;
    bottom: 0px;
    right: 353px;

    .btn{
      border-radius:0px;
      border:0px;
      font-weight:bold;
    }

    .btn-success{
      background-color:#8cc63e;
    }

    .btn-primary{
      background-color:#28b8ed;
    }
  }
}