<div><span>Saving Plans</span></div>
<div>
  <i class="fa fa-envelope"></i>
  <i class="fa fa-bell"></i>
  <img src="assets/images/_ClipGroup_.png"></img>
  <div class="dropdown">
    <button class="dropdown-toggle" id="headerDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Steven Hill
    </button>
    <div class="dropdown-menu" aria-labelledby="headerDropdownMenu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</div>
