header {
  height: 100px;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  line-height: 100px;
  margin: 0px -34px;
  > div:first-child {
    float: left;
    line-height: 100px;
    margin-left: 29px;
  }
  > div:last-child {
    float: right;
    line-height: 100px;
    margin-right: 29px;
  }
}
