<div>
  <div class = "week-view-total row">
    <div class="week-view-head">
      <div class="left-span">
        <div class="day">Sun</div>
        <div class="day">Mon</div>
        <div class="day">Tue</div>
        <div class="day">Wed</div>
        <div class="day">Thu</div>
        <div class="day">Fri</div>
        <div class="day">Sat</div>

      </div>
    </div>
    <div class="week-view-position" >
     <div >
      <div>
        <div class="calendar clear">
          <div ng-scrollbars ng-scrollbars-config="config">
            <div class="left-span clear">
              <div class="numbers">
                <div class="number" ng-repeat="curTime in timeLine track by $index">
                  <span ng-show="$index%2==0">{{curTime}}</span>
                </div>
              </div>

              <div class="lines">
                <div ng-class="{line1:($index%2==0),line2:($index%2!=0)}" ng-repeat="curTime in timeLine track by $index"></div>
              </div>
            </div>
            <div  class="right-span clear">
              <div class="day-coll">

                <div ng-repeat="(key, value) in workTimePos" class="day" daypos="{{key}}">
                  <div class="day-wrape" daypos="{{key}}">
                    <div ng-repeat="workTime in value track by $index" class="work-time" day="{{key}}" num="{{$index}}" ng-style="{top:workTime.begin+'px',height:workTime.size+'px', left:0}"><div class="triangle"></div></div>

                    <div ng-repeat="eventTime in eventsTimePos[key] track by $index" class="event-time" day="{{key}}" num="{{$index}}"  ng-style="{top:eventTime.pos+'px', left:0}">
                      <div class="wrape-relative">
                        <div class="line" ng-click="popoverViewChange(key,$index)"></div>
                        <div class="popover-block" ng-show="eventTime.viewPopup">
                          <div class="arrow"></div>
                          <img ng-show="eventTime.type=='Wake'" src="/content/images/savingPlans/Overview/Alarm.png" class="event-img">
                          <img ng-show="eventTime.type=='Restart'" src="/content/images/savingPlans/Overview/Restart.png" class="event-img">
                          <div class="event-name">{{eventTime.title}}</div>
                          <div class="event-text">{{eventTime.text}}</div>
                          <button type="button" class="btn btn-primary" autocomplete="off" ng-click="editEvent(key,$index)">
                            <img src="/content/images/pen.png">
                            Edit
                          </button>
                          <button type="button" class="btn btn-primary" autocomplete="off" ng-click="removeEvent(key,$index)">
                            <img src="/content/images/trash.png">
                            Remove
                          </button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>

              <div class="lines">
                <div ng-class="{line1:($index%2==0),line2:($index%2!=0)}" ng-repeat="curTime in timeLine track by $index"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="events" ng-scrollbars ng-scrollbars-config="config">

          <div ng-repeat="event in actions"  class = "event-block">
            <img ng-show="event.perform=='Wake'" src="/content/images/savingPlans/Overview/Alarm.png" class="event-img">
            <img ng-show="event.perform=='Restart'" src="/content/images/savingPlans/Overview/Restart.png" class="event-img">
            <div class="event-name">{{event.title}}</div>
            <div class="event-text">{{event.scheduleText}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-week-view">
      <div class="day-limit-left-bord"></div>
      <div class="day-limit">
        <div class="day-wrap clear">

          <div class="day" ng-repeat="(key, value) in workTimeLimit" ng-if="key!='sat'">
            <div class="day-text">
              <span ng-show="value.view">{{value.begin}}-{{value.end}}</span>
              <span ng-show="!value.view"> </span>
            </div>
          </div>


          <div class="day-limit-right ">
            <div class="day-limit-right-bord ">
              <span class="title">Resolution</span>
              <select class="customCombobox" ng-change="timeIntervalChange()" ng-model="timeInterval" ng-options="time as time.label for time in timeIntervalList track by time.value" ></select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="time-lmit-block">
    <input type="checkbox" id="time-lmit" name="chb1" ng-change="timeLimitChange()" ng-model="datyViewlLmit.flag" class="custom-checkbox-green-type01">
    <label for="time-lmit">
      <span class = "thick-text">Use default system work time </span>
      <span class="thin-text">(9am - 6:30pm)</span>
    </label>
  </div>
</div>
