<div class="savingPlans">
  <div class="searchBlock">
    <input type="text" name="search" placeholder="Search a Plan" ng-model="vm.query.PlainDetails.Saving" >
  </div>
  <span><span>Organization Name&nbsp;</span><span>({{vm.menuTableItems.length}} Plans)</span></span>
  <span class="buttonTypeOne">Add Plan</span>
  <div class="collapse in" id="organizationName">
    <div class="customTable">
      <div class="customTableHead">
        <div ng-click="vm.changeSorting('PlainDetails.Saving')">
          <img src="assets/images/savingPlans/_Group_.png">
          <span>Plan<br>Details</span>
        </div>
        <div ng-click="vm.changeSorting('ProgectedEfficiency')">
          <img src="assets/images/savingPlans/_Group_1.png">
          <span>Projected<br>Efficiency</span>
        </div>
        <div ng-click="vm.changeSorting('ActualReportedEfficiency')">Actual&nbsp;Reported<br>Efficiency</div>
        <div ng-click="vm.changeSorting('AssignedComputers')">
          <img src="assets/images/savingPlans/_Group_2.png">
          <span>Assigned<br>Computers</div></span>
        <div ng-click="vm.changeSorting('ActualReporting')">Actual<br>Reporting</div>
      </div>
      <div class="customTableRow" ng-repeat="row in vm.menuTableItems|orderBy:vm.sort.column:vm.sort.descending|filter:vm.query">
        <div class="customTableCell">
          <span>1.{{$index + 1}}</span>
          <a href="www.google.com">{{row.PlainDetails.Saving}} Saving</a>
          <br>
          <i class="fa fa-user"></i>
          <span>Owner</span>
          <span>{{row.PlainDetails.Owner}}</span>
        </div>
        <div color-letter="{{row.ProgectedEfficiency}}"></div>
        <div color-letter="{{row.ActualReportedEfficiency}}"></div>
        <div>{{row.AssignedComputers}}</div>
        <div>{{row.ActualReporting}}</div>
      </div>
    </div>
  </div>
</div>
