<div class="panel-body">
    <div><button ng-click="addSavingApplication($event, -1, worktype)">Add</button></div>
    <table class="table">
        <thead>
            <tr>
                <td>Application</td>
                <td>Condition</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="application in  jsonobject.appMetrics">
                <td>{{application.appName}}</td>
                <td>{{application.counter.toLowerCase() === "cpu" ? "CPU usage > " + application.threshold + " percent" : application.counter.toLowerCase() === "io" ? "IO > " + (application.threshold / 1024) + " KB/Sec" : application.counter}}</td>
                <td><button ng-click="addSavingApplication($event, application.appKey, worktype)">Edit</button></td>
                <td><button ng-click="removeSavingApplication(application.appKey, worktype)">Remove</button></td>
            </tr>
        </tbody>
    </table>
</div>
