<div class="container-fluid tab-line">
    <span>Do not Perform the operation while:</span>
    <span class="buttonTypeOneRemove buttonTypeOne">Remove</span>
    <span class="buttonTypeOneEdit buttonTypeOne">Edit</span>
    <span class="buttonTypeOneAdd buttonTypeOne" ng-click="addSavingApplication($event, -1, worktype)">Add</span>
    <div>
        <div class="container-fluid">
            <div class="row aplication-title">
                <div class="col-xs-4">Application</div>
                <div class="col-xs-4">Condition</div>
            </div>
            <div class="row">
                <ul>
                    <li ng-repeat="application in  appMetrics">
                        <div class="col-xs-4">{{application.appName}}</div>
                        <div class="col-xs-8">{{application.counter.toLowerCase() === "cpu" ? "CPU usage > " + application.threshold + " percent" : application.counter.toLowerCase() === "io" ? "IO > " + (application.threshold / 1024) + " KB/Sec" : application.counter}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
