<!-- <div class="panel-body">
    <div><button ng-click="addSavingComputer($event, -1, worktype)" class="btn btn-success">Add</button></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Computer Name</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="computer in jsonobject.computersNotRun">
                <td>{{computer.name}}</td>
                <td><button ng-click="removeSavingComputer(computer.computerKey, 'work')" class="btn btn-danger">Remove</button></td>
            </tr>
        </tbody>
    </table>
</div> -->


<div class="container-fluid">
    <span>Do not Perform the operation while the following computers are on:</span>
    <span class="buttonTypeOneRemove">Remove</span>
    <span class="buttonTypeOneAdd" ng-click="addSavingComputer($event, -1, worktype)">Add</span>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4">Computer name</div>
                <div class="col-xs-4">Type</div>
            </div>
            <div class="row">
                <ul>
                    <li ng-repeat="computer in jsonobject.computersNotRun">
                        <div class="col-xs-4">{{computer.name}}</div>
                        <div class="col-xs-8">Some type {{$index}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
