<div class="panel-body">
    <div><button ng-click="addSavingComputer($event, -1, worktype)">Add</button></div>
    <table class="table">
        <thead>
            <tr>
                <td>Computer Name</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="computer in jsonobject.computersNotRun">
                <td>{{computer.name}}</td>
                <td><button ng-click="removeSavingComputer(computer.computerKey, 'work')">Remove</button></td>
            </tr>
        </tbody>
    </table>
</div>