/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */


/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */

// bower:scss
// endbower
html {
  height: 100%;
  width: 100%;
  body {
    height: 100%;
    width: 100%;
    .main-wrapper {
      display: flex;
      flex-direction: row;
      height:100%;
      .content-wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .content {
          flex-grow: 1;
        }
      }
    }
  }
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
