<div class="settings-prop">
    <div class="powerplug-modal-header">
        <div>Add Power Rate</div>
        <img src="content/images/savingPlans/Modal/X.png" alt="close" ng-click="closeSavingApplication()">
    </div>
    <div class="modal-body">
        <div>
            <div class="settings-data-row">
                <span class="middle">From Date:</span>
                <!-- bootstarp date picker start -->
                <div class="date-picker">
                    <div class='input-group date power-plug-date-picker'>
                        <input class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-triangle-bottom">
                            </span>
                        </span>
                    </div>
                </div>
                <!-- bootstarp date picker end -->
            </div>
            <div class="settings-data-row">
                <span class="middle">Power Rate:</span> <input type="text" ng-model="script.scriptDesc" valid-number convert-to-number class="middle"/>
            </div>
        </div>
    </div>
    <div class="buttonsBlock">
        <button ng-click="closeSavingApplication()">OK</button>
        <button ng-click="closeSavingApplication()">Cancel</button>
    </div>
</div>
