<md-dialog class="script-prop">
    <md-toolbar>
        <div>Script Properties</div>
        <!-- <i class="fa fa-times" ></i> -->
        <img src="content/images/savingPlans/Modal/X.png" alt="close" ng-click="closeScriptDialog()">
    </md-toolbar>
    <md-content>        
        <div>
            <div class="script-data-row">
                <span>Script Name:</span> <input type="text" ng-model="script.scriptName" />
            </div>
            <div class="script-data-row">
                <span>Description:</span> <textarea ng-model="script.scriptDesc"></textarea>
            </div>
            <div class="buttonsBlock">
                <button ng-click="addUpdateScript()">OK</button>
                <button ng-click="closeScriptDialog()">Cancel</button>
            </div>
        </div>
    </md-content>
</md-dialog>
