<md-dialog style="width:900px">
    <md-toolbar>
        <div style="padding-left: 20px;padding-top: 17px;">Select Computer Group</div>
    </md-toolbar>
    <md-content>
        <div class="well">
          <lable>
              Computer Name
              <select ng-model="memberTypeId" ng-options="option.value as option.name for option in memberTypeOptions"></select>
          </lable>
            <div>
                <input ng-model="computerName"/>
            </div>
            <div> wildcard "*" can be used to include multiple computers</div>
            <hr />
            <div style="text-align:center">
                <button class="btn btn-success" ng-click="add()">OK</button>
                <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </md-content>
</md-dialog>