<div class="action-calendar">
    <div class="modal-header">
        <div>Edit Permission Records</div>
        <img src="content/images/savingPlans/Modal/X.png" alt="close" ng-click="cancel()">
    </div>
    <div class="modal-body">
        temp2
    </div>
    <div class="buttonsBlock modal-footer">
        <div>
            <button ng-click="add()" class="btn btn-success add">OK</button>
            <button ng-click="cancel()" class="btn btn-warning cancel">Cancel</button>
        </div>
    </div>
</div>
