<div class="settings">
    <div style="font-size:large">
        Computer Groups
    </div>
    <div class="computer-groups">
        <div class="clearfix"><div class="pull-right"><span ng-click="addComputerGroup()" class="buttonTypeOneAdd">Add</span></div></div>
        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Owner</td>
                    <td>Description</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="computerGroup in vm.computerGroups" class="computer-group-row" ng-class="{ 'bg-row-selected': $index == vm.selectedGroupIndex }"  
                    data-id="{{computerGroup.compGroupId}}" ng-click="vm.selectComputerGroup($index)">
                    <td>{{ computerGroup.groupName}}</td>
                    <td>{{ computerGroup.owner}}</td>
                    <td>{{ computerGroup.groupDesc}}</td>
                    <td><span ng-click="editComputerGroup()" class="buttonTypeOneEdit">Edit</span></td>
                    <td><span ng-click="removeComputerGroup()" class="buttonTypeOneRemove">Remove</span></td>
                </tr>
            </tbody>
        </table>
        <div class="green-line">
            <div class="members-header">
                <span> Memeber Definition</span>
                <div class="computer-group-action" ng-click="vm.openAddDialog()">
                    <span class="buttonTypeOneAdd">Add</span>
                </div>
                <div class="computer-group-action">
                    <select ng-model="vm.popupType" ng-options="option.value as option.name for option in vm.popupTypeOptions"></select>
               </div>
                <div class="computer-group-action">
                    <select>
                        <option>Include</option>
                        <option>Exclude</option>
                    </select>
                </div>
            </div>
            <ul>
                <li ng-repeat="computer in vm.groupMembersHash[vm.selectedGroupId].members">
                    <span> {{computer.memberDef}} </span>
                    <div class="computer-group-action">
                        <span class="buttonTypeOneEdit">Edit</span>
                    </div>
                    <div class="computer-group-action">
                        <span class="buttonTypeOneRemove">Remove</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="save-button-margin"></div>
    <div class="buttons-container">
        <div>
            <input type="button" value="Save Changes" class="btn-save-green" ng-click="vm.saveChanges()" />
            <input type="button" value="Discard" class="btn-discard-gray" ng-click="vm.discardChanges()" />
        </div>
    </div>
    
</div>
<style>
    div.content-wrapper {
        background-color: #fff;
    }
</style>