<div class="panel panel-primary computer-groups">
    <div class="panel-heading"
         style="font-size:large">
        Computer Groups
    </div>
    <div class="panel-body">
        <div class="clearfix"><div class="pull-right"><button ng-click="addComputerGroup()" class="btn btn-success">Add</button></div></div>
        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Description</td>
                    <td>GUID</td>
                    <td>Name</td>
                    <td>Owner</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="computerGroup in vm.computerGroups" class="computer-group-row" ng-class="{ 'bg-computer-group-selected': $index == vm.selectedGroupIndex }"  
                    data-id="{{computerGroup.compGroupId}}" ng-click="vm.selectComputerGroup($index)">
                    <td>{{ computerGroup.compGroupId}}</td>
                    <td>{{ computerGroup.groupDesc}}</td>
                    <td>{{ computerGroup.groupGUID}}</td>
                    <td>{{ computerGroup.groupName}}</td>
                    <td>{{ computerGroup.owner}}</td>
                    <td><button ng-click="editComputerGroup()" class="btn btn-warning">Edit</button></td>
                    <td><button ng-click="removeComputerGroup()" class="btn btn-danger">Remove</button></td>
                </tr>
            </tbody>
        </table>
        <div style="margin-bottom:100px;">
            <div class="members-header">
                <span> Memeber Definition</span>
                <div class="computer-group-action" ng-click="vm.openAddDialog()">
                    <div class="action-icon"> + </div>
                    <span>Add</span>
                </div>
                <div class="computer-group-action">
                    <select>
                        <option>Computer Name</option>
                        <option>Computer Mask</option>
                        <option>IP Mask</option>
                        <option>IP Range</option>
                    </select>
               </div>
                <div class="computer-group-action">
                    <select>
                        <option>Include</option>
                        <option>Exclude</option>
                    </select>
                </div>
                <hr />
            </div>
            <ul>
                <li ng-repeat="computer in vm.groupMembersHash[vm.selectedGroupId].members">
                    <span> {{computer.memberDef}} </span>
                    <div class="computer-group-action">
                        <div class="action-icon"> / </div>
                        <span>Edit</span>
                    </div>
                    <div class="computer-group-action">
                        <div class="action-icon"> - </div>
                        <span>Remove</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
</div>
<style>
    .bg-computer-group-selected{
        background-color:gray;
    }
</style>