<div class="settings">
    <uib-tabset active="active">
        <uib-tab index="0" heading="By Computer Type">
            <div class="powerConsumption-content">
                <span>Default consumption data(Watt/Hour)</span>
                <table class="table">
                    <thead>
                        <tr>
                            <td>Computer Type</td>
                            <td>Off</td>
                            <td>Standby</td>
                            <td>Idle</td>
                            <td>Work</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in vm.powerConsumption.default">
                            <td class="bolder">{{ row.computerType }}</td>
                            <td class="grid-cell"><input type="text" ng-model="row.powerConsumptionHibernate" ng-change="vm.ChangeConsumption(row.computerType, 'powerConsumptionHibernate', row.powerConsumptionHibernate)" valid-number convert-to-number /></td>
                            <td class="grid-cell"><input type="text" ng-model="row.powerConsumptionSleep" ng-change="vm.ChangeConsumption()" valid-number /></td>
                            <td class="grid-cell"><input type="text" ng-model="row.powerConsumptionOn" ng-change="vm.ChangeConsumption()" valid-number/></td>
                            <td class="grid-cell"><input type="text" ng-model="row.powerConsumptionWork" ng-change="vm.ChangeConsumption()" valid-number/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="By Maker & Model">
            <div class="powerConsumption-content">
                <span>Default consumption data(Watt/Hour) by Computer Model</span>
                <table class="table">
                    <thead>
                        <tr>
                            <td>Model</td>
                            <td>Computers</td>
                            <td>Assignment</td>
                            <td>Off</td>
                            <td>Standby</td>
                            <td>Idle</td>
                            <td>Work</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in vm.powerConsumption.models">
                            <td class="bolder">{{ row.model}}</td>
                            <td>{{ row.computers}}</td>
                            <td class="grid-cell"><select ng-model="row.assignment"><option value="ComputerType">By Computer Type</option><option value="ComputerModel">By Computer Model</option></select></td>
                            <td class="grid-cell"><input type="text" ng-model="row.powerConsumptionHibernate" valid-number /></td>
                            <td class="grid-cell"><input type="text" ng-model="row.powerConsumptionSleep" valid-number/></td>
                            <td class="grid-cell"><input type="text" ng-model="row.powerConsumptionOn" valid-number/></td>
                            <td class="grid-cell"><input type="text" ng-model="row.powerConsumptionWork" valid-number/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Specific Computers">
            <div class="powerConsumption-content">
                <span>Default consumption data(Watt/Hour) for specific computers</span>
                <table class="table">
                    <thead>
                        <tr>
                            <td>Computer Name</td>
                            <td>Responsible User</td>
                            <td>Assignment</td>
                            <td>Off</td>
                            <td>Standby</td>
                            <td>Idle</td>
                            <td>Work</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in vm.powerConsumption.computers">
                            <td class="bolder">{{ row.computerName}}</td>
                            <td class="bolder">{{ row.responsibleUser}}</td>
                            <td class="grid-cell"><select ng-model="row.assignment"><option value="ComputerType">By Computer Type</option><option value="ComputerModel">By Computer Model</option></select></td>
                            <td class="grid-cell"><input type="text" ng-model="row.powerConsumptionHibernate" valid-number /></td>
                            <td class="grid-cell"><input type="text" ng-model="row.powerConsumptionSleep" valid-number/></td>
                            <td class="grid-cell"><input type="text" ng-model="row.powerConsumptionOn" valid-number /></td>
                            <td class="grid-cell"><input type="text" ng-model="row.powerConsumptionWork" valid-number/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>
    </uib-tabset>
    <div class="save-button-margin"></div>
    <div class="buttons-container">
        <div>
            <input type="button" value="Save Changes" class="btn-save-green" ng-click="vm.saveChanges()" />
            <input type="button" value="Discard" class="btn-discard-gray" ng-click="vm.discardChanges()" />
        </div>
    </div>
</div>
<style>    
    div.content-wrapper {
        background-color: #fff;
    }    
</style>