<div class="panel panel-primary">
    <div class="panel-heading"
         style="font-size:large">
        Settings
    </div>
    <div class="panel-body clearfix">
        <div class="pull-left" style="padding-right:50px;">
            <a ui-sref="computerGroups" class="tab">
                <div><img src="content/images/settings/computer_network.png" style="width:200px;" /></div>
                <div>Computer Groups</div>                
            </a>
        </div>
        <div class="pull-left" style="padding-right:50px;">
            <a ui-sref="scripts" class="tab">
                <div><img src="content/images/settings/scripts.jpg" style="width:200px;"/></div>
                <div>Scripts Library</div>
            </a>
        </div>
        <div class="pull-left" style="padding-right:50px;">
            <a ui-sref="powerConsumption" class="tab">
                <div><img src="content/images/settings/scripts.jpg" style="width:200px;" /></div>
                <div>PC Power Consumption</div>
            </a>
        </div>
    </div>
</div>