<div ng-cloak>
      <div class="modal-header">
        <h2>{{actionData.perform}}</h2>
        <span flex></span>
        <div ng-click="cancel()">
          X
        </div>
      </div>
      <div class="modal-body">
            <div>
                <label>
                      <input type="radio" name="{{scheduleType}}" ng-model="scheduleType" value="EveryDay">
                    Every Day
                </label> 
              </div>
             <div>
                  <label>
                      <input type="radio" name="{{scheduleType}}" ng-model="scheduleType" value="DayOfWeek">
                      Day of the week
                  </label>
                  <label>
                      <input type="checkbox" ng-disabled="scheduleType != 'DayOfWeek'"  ng-model="Sunday.Value" ng-true-value="1" ng-false-value="-2" ng-model-options="{ getterSetter: true }"> Sunday
                  </label>
                  <label>
                      <input type="checkbox" ng-disabled="scheduleType != 'DayOfWeek'"  ng-model="Monday.Value" ng-true-value="2" ng-false-value="-3" ng-model-options="{ getterSetter: true }"> Monday
                  </label>
                  <label>
                      <input type="checkbox" ng-disabled="scheduleType != 'DayOfWeek'"  ng-model="Tuesday.Value" ng-true-value="4" ng-false-value="-5" ng-model-options="{ getterSetter: true }"> Tuesday
                  </label>
                  <label>
                      <input type="checkbox" ng-disabled="scheduleType != 'DayOfWeek'"  ng-model="Wednesday.Value" ng-true-value="8" ng-false-value="-9" ng-model-options="{ getterSetter: true }"> Wednesday
                  </label>
                  <label>
                      <input type="checkbox" ng-disabled="scheduleType != 'DayOfWeek'"  ng-model="Thursday.Value" ng-true-value="16" ng-false-value="-17" ng-model-options="{ getterSetter: true }"> Thursday
                  </label>
                  <label>
                      <input type="checkbox" ng-disabled="scheduleType != 'DayOfWeek'"  ng-model="Friday.Value" ng-true-value="32" ng-false-value="-33" ng-model-options="{ getterSetter: true }"> Friday
                  </label>
                  <label>
                      <input type="checkbox" ng-disabled="scheduleType != 'DayOfWeek'" ng-model="Saturday.Value" ng-true-value="64" ng-false-value="-65" ng-model-options="{ getterSetter: true }"> Saturday
                  </label>
              </div>
             <div>
                <label>
                    <input type="radio" name="{{scheduleType}}" ng-model="scheduleType" value="DayOfMonth">
                     Day of Month
                </label>
                 <input ng-disabled="scheduleType != 'DayOfMonth'" type='number' min="1" max="31" ng-model="daysOfMonth"/>
              </div>
              <div>
                 <label>
                      <input type="radio" name="{{scheduleType}}" ng-model="scheduleType" value="SpecificDate">
                     Specific Date 
                 </label>
                    <md-datepicker ng-disabled="scheduleType != 'SpecificDate'" ng-model="specificDate" md-placeholder="Enter date"></md-datepicker>
              </div>
              <hr />
              <div>
                  <div ng-if="perform == 'Wake'">
                      <label>
                          <b> At</b>
                      </label>
                      <input type="time" ng-model="timeChosen" />
                  </div>
                  <div ng-if="perform == 'Restart'">
                      <label>
                          <b> Btween</b>
                      </label>
                      <input type="time" ng-model="timeChosen" />
                      <label>
                          <b> and</b>
                      </label>
                      <input type="time" ng-model="toTime" />
                  </div>
                  </div> 
              <hr />
              <div>
                  <h4>Action Settings</h4>
                  <div ng-if="perform == 'Wake'">
                      <label>
                          Keep Monitor On <input type="checkbox" ng-model="KeepMonitorOn">
                      </label>
                      <label>
                          Keep awake for
                      </label>
                      <input type="number" ng-model="keepAlive" min="15" max="1080" />
                  </div>
              </div>                                     
              <!--TABS-->   
           <div ng-if="perform == 'Restart'">
               <uib-tabset class="clearfix uibTabSet">
                   <uib-tab heading="Conditions">
                       <conditions-tab jsonobject="options"></conditions-tab>
                   </uib-tab>
                   <uib-tab heading="Options">
                       <options-tab jsonobject="options"  save-event = true></options-tab>
                   </uib-tab>
                   <uib-tab heading="Applications">
                       <application-tab worktype='work' jsonobject="options" save-event = true ></application-tab>
                   </uib-tab>
                   <uib-tab heading="Performance Metrics">
                       <performance-metrics-tab jsonobject="options" worktype='Work' save-event = true></performance-metrics-tab>
                   </uib-tab>
               </uib-tabset>  
           </div>
      </div>
    <div class="modal-footer">
      <button ng-click="Add('Add')">
       Add  
      </button>
      <button ng-click="cancel()" style="margin-right:20px;">
        Cancel
      </button>
    </div>
</div>