<md-dialog class="addScript" style="width:900px">
    <md-toolbar>
        <div>Add a Script</div>
        <i class="fa fa-times" ng-click="closeEventScripts()"></i>
    </md-toolbar>
    <md-content>
        <span>{{eventScripts.length}} Scripts</span>
        <div class="well">
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td>Name</td>
                        <td>Owner</td>
                        <td>Type</td>
                        <td>Description</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="script in eventScripts">
                        <td><input type="checkbox" id="{{script.scriptId}}" data-name="{{script.scriptName}}" data-guid="{{script.scriptGUID}}" class="script-selection custom-checkbox-green"/><label for='{{script.scriptId}}'></label></td>
                        <td>{{script.scriptName}}</td>
                        <td>{{script.owner}}</td>
                        <td>{{script.scriptType}}</td>
                        <td>{{script.scriptDesc}}</td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <div>

            </div>
            <div style="text-align:center">
                <button ng-click="addEventScripts()">OK</button>
                <button ng-click="closeEventScripts()">Cancel</button>
            </div>
        </div>
    </md-content>
</md-dialog>
