<md-dialog>
    <md-toolbar>
        <div style="padding-left: 20px;padding-top: 17px;">Application Condition</div>
    </md-toolbar>
    <md-content>        
        <div class="well">
            <div>Application Process</div>
            <div><input type="file" onchange="angular.element(this).scope().copyExeName(this)" /><input type="text" id="exeName" value="{{appMetric.appName}}"/></div>
            <div>Do not perform the computer power savings operation while:</div>
            <div>{{appMetric.counter}}</div>
            <div><input type="radio" name="appOperation" id="running" ng-checked="appMetric.counter === 'Running'" /> Process is Running</div>
            <div>
                <input type="radio" name="appOperation" id="cpu" ng-checked="appMetric.counter === 'Cpu'" /> CPU utilization is above
                <input type="number" min="0" max="100" id="cpuText" value="{{appMetric.counter === 'Cpu' ? appMetric.threshold : ''}}"/> Percent
            </div>
            <div>
                <input type="radio" name="appOperation" id="io" ng-checked="appMetric.counter === 'Io'" /> Disk I/O operations are above
                <input type="number" min="0" id="ioText" value="{{appMetric.counter === 'Io' ? (appMetric.threshold /1024) : ''}}"/> KB/Second
            </div>
            <hr />
            <div style="text-align:center">
                <button class="btn btn-success" ng-click="upsertSavingApplication(appMetric.appKey)">OK</button>
                <button class="btn btn-danger" ng-click="closeSavingApplication()">Cancel</button>
            </div>
        </div>
    </md-content>
</md-dialog>
