<div>
    <div>Application Condition</div>
    <div class="well" style="height:175px;">
        <div>Application Process</div>
        <div><input type="file" /></div>
        <div>Do not perform the computer power savings operation while:</div>
        <div><input type="radio" ng-model="vm.savingPlan.settings.hidEnableWake" /> Process is Running</div>
        <div>
            <input type="radio" id="workCpu" ng-checked="vm.savingPlan.savings.work.options.computerMetricsConverted.Cpu" /> CPU utilization is above
            <input type="text" id="workCpuText" ng-model="vm.savingPlan.savings.work.options.computerMetricsConverted.Cpu.threshold" /> Percent
        </div>
        <div>
            <input type="radio" id="workIo" ng-checked="vm.savingPlan.savings.work.options.computerMetricsConverted.Io" /> Disk I/O operations are above
            <input type="text" id="workIoText" ng-model="vm.savingPlan.savings.work.options.computerMetricsConverted.Io.thresholdInKb" /> KB/Second
        </div>
        <div style="padding-top:50px;text-align:center">
            <button>OK</button>
            <button>Cancel</button>
        </div>       
    </div>        
</div>
