<md-dialog>
    <md-toolbar>
        <div style="padding-left: 20px;padding-top: 17px;">Select Computers</div>
    </md-toolbar>
    <md-content>        
        <div class="well">
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td>Computer Name</td>
                        <td>Type</td>
                        <td>User</td>
                        <td>Last IP Adress</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="computer in savingComputerList">
                        <td><input type="checkbox" data-name="{{computer.name}}" class="computer-selection"/></td>
                        <td>{{computer.name}}</td>
                        <td>{{computer.computerType}}</td>
                        <td>{{computer.responsibleUser}}</td>
                        <td>{{computer.lastIPAddress}}</td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <div style="text-align:center">
                <button class="btn btn-success" ng-click="addSavingComputers()">OK</button>
                <button class="btn btn-danger" ng-click="closeSavingComputers()">Cancel</button>
            </div>
        </div>
    </md-content>
</md-dialog>
