<div class="power-plug-dialog message-editor">
    <div class="modal-header">
        <div>Message Editor</div>
        <!-- <i class="fa fa-times" ></i> -->
        <img src="content/images/savingPlans/Modal/X.png" alt="close" ng-click="closeSavingApplication()">
    </div>
    <div class="modal-body">
        <div>
            <div>
                <descripotion done="vm.done(data)" preview="vm.preview(data)" data-default-text="vm.text"> </descripotion>
            </div>
            <div class="mesaage-options">
                <div class="message-title">
                    Message Options
                </div>
                <div class="message-caption">
                    Window caption <input type="text" />
                </div>
                <div class="checkbox-container">
                    <input id="li-snooze" type="checkbox" class="custom-checkbox-green-type00" />
                    <label for="li-snooze"></label>
                    Allow Users to Postpone (Snooze) the message
                </div>
                <div class="snooze-child">
                    <span>Default snooze time</span>
                    <select>
                        <option value="1">1 minute</option>
                        <option value="5">5 minute</option>
                        <option value="10">10 minute</option>
                        <option value="15">15 minute</option>
                        <option value="30">30 minute</option>
                        <option value="60">1 hour</option>
                        <option value="120">2 hours</option>
                        <option value="240">4 hours</option>
                    </select> 
                    <span>Maximum</span>
                    <select>
                        <option value="1">1 minute</option>
                        <option value="5">5 minute</option>
                        <option value="10">10 minute</option>
                        <option value="15">15 minute</option>
                        <option value="30">30 minute</option>
                        <option value="60">1 hour</option>
                        <option value="120">2 hours</option>
                        <option value="240">4 hours</option>
                    </select>
                </div>
                <div class="checkbox-container">
                    <input id="li-abort" type="checkbox" class="custom-checkbox-green-type00" />
                    <label for="li-abort"></label>
                    Allow Users to Abort the Power Saving operation
                </div>
                <div class="message-display">
                    <span>Display timeout</span><input type="number" /> (seconds)
                </div>
            </div>
        </div>
    </div>
    <div class="buttonsBlock">
        <button ng-click="upsertSavingApplication(appMetric.appKey)">OK</button>
        <button ng-click="closeSavingApplication()">Cancel</button>
    </div>
</div>
