<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />   
    <link href="content/css/vendor/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="content/css/powerplan.min.css" rel="stylesheet" />
    <link href="content/angular-material.min.css" rel="stylesheet" />    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css" />
</head>
<body ng-app="powerPlug" style="overflow: visible">
    <div>
        <div ng-if="!innerTemplate()">
            <h1>Power Plug</h1>
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
            <div class="well" ui-view></div>
        </div>
        <div ng-if="innerTemplate()">
            <div class="topGreenLine"></div>
            <div class="main-wrapper">
                <nav ng-include="'views/leftMenu.html'" ng-controller="LeftMenuController as vm"></nav>
                <div class="content-wrapper">
                    <header ng-include="'views/header.html'" ng-controller="HeaderController as vm"></header>
                    <div class="content" ui-view></div>
                </div>                
            </div>
        </div>
    </div>
    <!--<div ng-include="'views/powerplan/computerGroupsView.html'"></div>-->
    <!-- Library Scripts -->
    <script src="content/js/vendor/jquery-1.9.1.min.js"></script>
    <script src="content/js/vendor/moment.min.js"></script>
    <script src="content/js/vendor/angular.js"></script>
    <script src="content/js/vendor/angular-animate.min.js"></script>
    <script src="content/js/vendor/angular-aria.min.js"></script>
    <script src="content/js/vendor/angular-resource.min.js"></script>
    <script src="content/js/vendor/angular-ui-router.min.js"></script>
    <script src="content/js/vendor/angular-cookies.js"></script>
    <script src="content/js/vendor/angular-material.min.js"></script>
    <script src="content/js/vendor/ui-bootstrap-tpls.min.js"></script>
    <script src="http://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
    <script src="content/js/vendor/angular-fusioncharts.min.js"></script>
    <script src="content/js/vendor/textAngular-rangy.min.js"></script>
    <script src="content/js/vendor/textAngular-sanitize.min.js"></script>
    <script src="content/js/vendor/textAngular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js"></script>

    <!-- Application Script -->
    <script src="app/app.js"></script>

    <!-- Services -->
    <script src="app/services/common/common.services.js"></script>
    <script src="app/services/authentication/user.service.js"></script>
    <script src="app/services/authentication/authentication.service.js"></script>
    <script src="app/services/authentication/flash.service.js"></script>
    <script src="app/services/powerplan/computerGroupsResource.js"></script>
    <script src="app/services/powerplan/savingPlansResource.js"></script>
    <script src="app/services/powerplan/computersResource.js"></script>
    <script src="app/services/powerplan/scriptsResource.js"></script>

    <!-- Directive -->
    <script src="app/directives/settingsTabs/optionsTabDirective.js"></script>
    <script src="app/directives/settingsTabs/applicationsTabDirective.js"></script>
    <script src="app/directives/settingsTabs/computersTabDirective.js"></script>
    <script src="app/directives/settingsTabs/performanceMetricsTabDirective.js"></script>
    <script src="app/directives/settingsTabs/conditionsTabDirective.js"></script>
    <script src="app/directives/colorLetter/colorLetterDirective.js"></script>

    <!-- Factory -->
    <script src="app/factory/jsonLoaderFactory.js"></script>

    <!-- PowerPlan Login Page Controller -->
    <script src="app/controllers/login/loginCtrl.js"></script>
    <script src="app/controllers/leftMenuCtrl.js"></script>
    <script src="app/controllers/headerCtrl.js"></script>
    <!-- PowerPlan ComputerGroups Page Controller -->
    <script src="app/controllers/powerplan/computerGroupsCtrl.js"></script>
    <!-- PowerPlan Saving Plan Page Controller -->
    <script src="app/controllers/powerplan/savingPlansCtrl.js"></script>
    <script src="app/controllers/powerplan/partials/savingPlanEditorOverview.js"></script>
    <script src="app/controllers/powerplan/partials/savingPlanEditorActions.js"></script>
    <script src="app/controllers/powerplan/partials/savingPlanEditorWorkHours.js"></script>
    <script src="app/controllers/powerplan/partials/savingPlanEditorSavings.js"></script>
    <script src="app/controllers/powerplan/partials/savingPlanEditorEvents.js"></script>
        <!--powerPlan  Saving Plan Dialog-->
    <script src="app/controllers/powerplan/dialogs/actionDialogHandler.js"></script>
        <!--powerPlan Saving Paln MainController-->
    <script src="app/controllers/powerplan/savingPlanEditorCtrl.js"></script>
    <!-- PowerPlan Dashbord -->
    <script src="app/controllers/dashboard/dashboardCtrl.js"></script>
    <script src="app/controllers/dashboard/dashboardView1Ctrl.js"></script>
    <script src="app/controllers/dashboard/dashboardView2Ctrl.js"></script>    
</body>
</html>
